#!/bin/sh
# {{ ansible_managed }}

REPOS="$1"
TXN="$2"

# Make sure that the log message contains some text.
SVNLOOK=/usr/bin/svnlook
$SVNLOOK log -t "$TXN" "$REPOS" | \
   grep "[a-zA-Z0-9]" > /dev/null || exit 1

# Exit on all errors.
set -e

# All checks passed, so allow the commit.
exit 0
