# {{ ansible_managed | comment }}
[libdefaults]
              default_realm = PU.WIN.PRINCETON.EDU
              dns_lookup_kdc = true
              dns_lookup_realm = false
              rdns = false
              default_tgs_enctypes = AES256-CTS AES128-CTS RC4-HMAC DES-CBC-MD5 DES-CBC-CRC
              default_tkt_enctypes = AES256-CTS AES128-CTS RC4-HMAC DES-CBC-MD5 DES-CBC-CRC
              preferred_enctypes = AES256-CTS AES128-CTS RC4-HMAC DES-CBC-MD5 DES-CBC-CRC
              default_keytab_name = /etc/krb5.keytab

[realms]
  PU.WIN.PRINCETON.EDU = {
   auth_to_local = {{ auth_rule_one }}
   auth_to_local = {{ auth_rule_two }}
   auth_to_local = {{ auth_rule_three }}
   auth_to_local = {{ auth_rule_dev }}
   auth_to_local = DEFAULT
  }

[domain_realm]
  .pu.win.princeton.edu = PU.WIN.PRINCETON.EDU
  .win.princeton.edu = WIN.PRINCETON.EDU
  .libraries.princeton.edu = LIBRARIES.PRINCETON.EDU
  .pudev.windev.princeton.edu = PUDEV.WINDEV.PRINCETON.EDU
