[Unit]
Description=Pulmap Sneakers Worker

[Service]
Type=simple
Environment= HOME=/home/deploy
WorkingDirectory=/opt/pulmap/current/config
ExecStart=/bin/bash --login pulmap-sneakers.sh
User=deploy
Group=deploy
UMask=0002

# if we crash, restart
RestartSec=1
Restart=on-failure

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
