{{ ansible_managed | comment }}
{% if bind9_resolv_search | length > 0 %}
search {{ bind9_resolv_search | join(' ') }}
{% endif %}
{% for nameserver in bind9_resolv_nameservers[:3] %}
nameserver {{ nameserver }}
{% endfor %}
{% if bind9_resolv_options | length > 0 %}
options {{ bind9_resolv_options | join(' ') }}
{% endif %}
