; Managed by Ansible (roles/xrdp_gnome)

[Globals]
ini_version=1
fork=true
address={{ xrdp_listen_address }}
port={{ xrdp_port }}
tcp_nodelay=true
tcp_keepalive=true

[Logging]
LogFile=/var/log/xrdp.log
LogLevel=INFO
EnableSyslog=true
SyslogLevel=INFO

[Xorg]
name=Xorg
lib=libxorgxrdp.so
username=ask
password=ask
ip=127.0.0.1
port=-1
code=20
