# Managed by Ansible
{% for item in deploy_user_keys_from_github.results %}
# Keys for {{ item.item | regex_search("[^\/]*(?=.keys)") }}
{{ item.stdout }}
{% endfor %}
{% for item in deploy_user_local_keys %}
# Keys for {{ item.name }}
{{ item.key }}
{% endfor %}
