[Unit]
Description=Mailcatcher
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ mailcatcher_user }}
Group={{ mailcatcher_group }}
UMask=0002
WorkingDirectory={{ mailcatcher_home }}
Environment=HOME={{ mailcatcher_home }}
ExecStart=/bin/bash -c 'exec {{ mailcatcher_install_location }} -f -v --ip={{ mailcatcher_listen_address }} --smtp-ip={{ mailcatcher_smtp_listen_address }} --smtp-port={{ mailcatcher_smtp_port }} --http-ip={{ mailcatcher_http_listen_address }} --http-port={{ mailcatcher_http_port }} >>/var/log/mailcatcher/mailcatcher.log 2>&1'
RestartSec=1

Restart=on-failure

SyslogIdentifier=mailcatcher

[Install]
WantedBy=multi-user.target
