[Unit]
Description=Mailcatcher
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/{{ mailcatcher_user }}
ExecStart=/bin/bash --login -c "{{ mailcatcher_install_location }} --foreground"
User={{ mailcatcher_user | default('root') }}
Group={{ mailcatcher_group | default('root') }}
UMask=0002

# if we crash, restart
RestartSec=1
Restart=on-failure

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog

# This will default to "bundler" if we don't specify it
SyslogIdentifier=mailcatcher

[Install]
WantedBy=multi-user.target
