{{ ansible_managed | comment }}
# https://repmgr.org/docs/current/quickstart-postgresql-configuration.html
max_wal_senders = 10
max_replication_slots = 10
wal_level = 'hot_standby'
hot_standby = on
archive_mode = on
