# {{ ansible_managed | comment }}
<VirtualHost *:81>
  # Since we are reverse proxying to this server via upstream nginx, the scheme, hostname, and port
  # are important to include in the ServerName so that certain Apache modules, like shib, if used,
  # can know that they are being accessed over a secure channel, and generate correct self-referential URLs.
  ServerName https://dataspace.princeton.edu:443

  ErrorDocument 503 "Our apologies for the interruption in service. System maintenance is being performed and the site will be back online momentarily."

  ProxyRequests Off
  ProxyTimeout 600
  ProxyPreserveHost On

  # Proxy all other traffic to Tomcat
  ProxyPass        / ajp://localhost:8009/
  ProxyPassReverse / ajp://localhost:8009/
</VirtualHost>
