# {{ ansible_managed | comment }}
map $http_user_agent $per_user_key {

    # Treat each session id + ip combination as a unique user by default
    default "${cookie_JSESSIONID}_${binary_remote_addr}";

    # TODO: Replace above with the following if nginx version < 1.11.0
    # Treat each ip as a unique user by default
    #default ${binary_remote_addr};

    # Group known good bots as "goodbot-name"
    "~*addthis" goodbot-addthis;
    "~*applebot" goodbot-applebot;
    "~*archive.org" goodbot-archive_org;
    "~*bingbot" goodbot-bingbot;
    "~*duckduckbot" goodbot-duckduckgo;
    "~*googlebot" goodbot-googlebot;
    "~*ia_archiver" goodbot-ia_archiver;
    "~*semanticscholar" goodbot-semanticscholar;
    "~*yahoo" goodbot-yahoo;

    # Group known lower priority bots all together as "knownbot"
    "~*exabot" knownbot;
    "~*gigabot" knownbot;
    "~*sputnikbot" knownbot;
    "~*turnitinbot" knownbot;
    "~*weborama" knownbot;

    # Group all other probable bots together as "botlike"
    "~*bot" botlike;
    "~*crawl" botlike;
    "~*curl" botlike;
    "~*fetch" botlike;
    "~*guzzle" botlike;
    "~*python" botlike;
    "~*ruby" botlike;
    "~*scan" botlike;
    "~*scrape" botlike;
    "~*spider" botlike;
    "~*wget" botlike;
}
