<settings>
  <profiles>
     <profile>
       <id>private</id>
       <activation>
         <activeByDefault>true</activeByDefault>
       </activation>
       <properties>
         <db.password>{{ dspace_db_password }}</db.password>
         <mail.server.password>mypassword</mail.server.password>
         <ark.ezid_password>{{ ark_ezid_password }}</ark.ezid_password>
       </properties>
     </profile>
  </profiles>
</settings>
