#
#
authority letsencrypt {
        api url "https://acme-v02.api.letsencrypt.org/directory"
        account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
        api url "https://acme-staging-v02.api.letsencrypt.org/directory"
        account key "/etc/acme/letsencrypt-staging-privkey.pem"
}


domain denylist.pulcloud.io {
        domain key "/etc/ssl/private/denylist.pulcloud.io.key"
        domain full chain certificate "/etc/ssl/denylist.pulcloud.io.fullchain.pem"
        # Test with the staging server to avoid aggressive rate-limiting.
        #sign with letsencrypt-staging
        sign with letsencrypt
}
