[Unit]
Description=EZProxy
Documentation=https://help.oclc.org/Library_Management/EZproxy
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
WorkingDirectory=/var/local/ezproxy
UMask=007
LimitNOFILE=65536
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStart=/var/local/ezproxy/ezproxy start
ExecStop=/var/local/ezproxy/ezproxy stop
ExecReload=/var/local/ezproxy/ezproxy restart
Restart=on-failure
RestartSec=3
User=ezproxy
Group=ezproxy
WorkingDirectory=/var/local/ezproxy
UMask=007

[Install]
WantedBy=multi-user.target
