[Unit]
Description=EZProxy
Documentation=https://help.oclc.org/Library_Management/EZproxy
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/var/local/ezproxy/ezproxy start
ExecStop=/var/local/ezproxy/ezproxy stop
ExecReload=/var/local/ezproxy/ezproxy restart
Restart=on-failure
RestartSec=3
# User=ezproxy
# Group=ezproxy

[Install]
WantedBy=multi-user.target
