# the logrotate file is {{ ansible_managed }}
/var/local/ezproxy/log/*.log {
    daily
    missingok
    rotate 14
    compress
    create 640 root ezproxy
    sharedscripts
    postrotate
            if /usr/sbin/service ezproxy status  > /dev/null ; then \
                /usr/sbin/service ezproxy restart > /dev/null; \
            fi;
    endscript
}
