# {{ ansible_managed | comment }}
[Unit]
Description=EZProxy
Documentation=https://help.oclc.org/Library_Management/EZproxy
After=network.target local-fs.target nss-lookup.target  network-online.target

[Service]
Type=simple
ExecStart=/var/local/ezproxy/ezproxy start
ExecStop=/var/local/ezproxy/ezproxy stop
ExecReload=/var/local/ezproxy/ezproxy restart
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
Alias=ezproxy.service
