# {{ ansible_managed | comment }}
Group Default
# Excluded campus IP ranges from proxying
IncludeIP 0.0.0.0 - 255.255.255.255
ExcludeIP 128.112.0.0 - 128.112.255.255
ExcludeIP 140.180.0.0 - 140.180.255.255
### Permitted for Anywhere Access Support - Autologin is not otherwise used
AutoLoginIP 35.153.163.236
