{{ ansible_managed | comment }}
#
#
If !(auth:issuer eq "https://sts.windows.net/{{ microsoft_entra_idp_uuid }}/");
   Deny unaffiliated.html
If !(Any(auth:"http://schemas.microsoft.com/ws/2008/06/identity/claims/groups", "{{ vault_microsoft_entra_e-resources_group_uuid }}"));
   Deny unaffiliated.html
Group Default
Debug
{% for item in shib_admin_user %}
If auth:"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" eq "{{ item }}";
   Admin
{% endfor %}
If auth:"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" ne "";
   Set login:loguser = auth:"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"

