"{{ ansible_managed | comment }}"
#
#
If !(auth:issuer eq "https://idp.princeton.edu/idp/shibboleth");
   Deny unaffiliated.html
If !(Any(auth:memberOf, "CN=PU:LIB:electronicaccess:remote,OU=Grouper,DC=pu,DC=win,DC=princeton,DC=edu"));
   Deny unauthorized.html
Group Default
{% for item in shib_admin_user %}
If auth:eduPersonPrincipalName eq "{{ item }}";
   Admin
{% endfor %}
If auth:eduPersonPrincipalName ne ""; Set login:loguser = auth:eduPersonPrincipalName
