::Common
IfCountry CN; Audit Access Denied Unauthorized Country
IfCountry RU; Audit Access Denied Unauthorized Country
IfCountry IR; Audit Access Denied Unauthorized Country
IfCountry KP; Audit Access Denied Unauthorized Country
IfCountry BY; Audit Access Denied Unauthorized Country
IfCountry IR; Reject
IfCountry CN; Reject
IfCountry KP; Reject
IfCountry RU; Reject
IfCountry BY; Reject
IfUser; Stop
Audit Deny login attempt from unauthorized country
Deny loginbu.htm
/Common

### Shib config for Princeton
::Shibboleth
IDP20 https://idp.princeton.edu/idp/shibboleth
/Shibboleth
