{{ ansible_managed | comment }}
# break glass user
ezproxy_admin:{{ ezproxy_admin_password }}:admin
::Common
IfCountry CN; Audit Access Denied Unauthorized Country
IfCountry RU; Audit Access Denied Unauthorized Country
IfCountry IR; Audit Access Denied Unauthorized Country
IfCountry KP; Audit Access Denied Unauthorized Country
IfCountry BY; Audit Access Denied Unauthorized Country
IfCountry IR; Reject
IfCountry CN; Reject
IfCountry KP; Reject
IfCountry RU; Reject
IfCountry BY; Reject
IfUser; Stop
Audit Deny login attempt from unauthorized country
Deny loginbu.htm
/Common

## Shib for EntraID
::Shibboleth
# If login:auth eq "shibboleth";
IDP20 https://sts.windows.net/{{ microsoft_entra_idp_uuid }}/
/Shibboleth
