# ZFS module configuration
# Managed by Ansible


{% if zfs_arc_max | default('') | length > 0 %}
options zfs zfs_arc_max={{ zfs_arc_max | human_to_bytes }}
{% endif %}

{% if zfs_arc_min | default('') | length > 0 %}
options zfs zfs_arc_min={{ zfs_arc_min | human_to_bytes }}
{% endif %}
