nfs:
  server: {{ k8s_nfs_server }}
  path: {{ k8s_nfs_path }}

storageClass:
  create: true
  name: {{ k8s_nfs_storage_class }}
  defaultClass: {{ k8s_nfs_default_class | bool | lower }}
  archiveOnDelete: {{ k8s_nfs_archive_on_delete | bool | lower }}

{% if k8s_nfs_node_selector is defined and k8s_nfs_node_selector | length > 0 %}
nodeSelector:
{% for key, value in k8s_nfs_node_selector.items() %}
  {{ key }}: {{ value }}
{% endfor %}
{% endif %}
