nfs:
  server: {{ k8s_nfs_server }}
  path: {{ k8s_nfs_path }}

storageClass:
  create: true
  name: {{ k8s_nfs_storage_class }}
  defaultClass: {{ k8s_nfs_default_class | bool | lower }}
  archiveOnDelete: {{ k8s_nfs_archive_on_delete | bool | lower }}
