server {
  listen {{ passenger_listen_port }} default_server;
  server_name {{ passenger_server_name }};
  passenger_enabled {{ passenger_enabled }};
  passenger_app_env {{ passenger_app_env }};
  passenger_set_header X-Forwarded-Proto https;
  passenger_set_header X-Forwarded-For $remote_addr;
  root {{ passenger_app_root }};
  set_real_ip_from 128.112.203.144;
  set_real_ip_from 128.112.203.145;
  set_real_ip_from 128.112.203.146;
  real_ip_header X-Real-IP;

  access_log /var/log/nginx/access.log custom;

  {{passenger_extra_config}}
}
