# Vagrant related files
/.vagrant
*.retry
# hide keys
pulsys_rsa_key*
# images are too large
ubuntu-16.04.virtualbox.box
# vault merging
.ansible-vault-password
# Ignore Vagrant file 
Vagrantfile
images/*
# keep server priv keys from leaking
