# ansible environment
.ansible
# hide keys
pulsys_rsa_key*
# vault merging
.ansible-vault-password
# keep gz and sql files from accidental commit
*.gz
*.sql
# for use with direnv
.envrc
# macOS cooties
.DS_Store
.vscode/
# ignore built Exec Envs for Tower
tower_ees/context
#python virtual environment files
.venv
