group_vars/all/vault.yml diff=ansible-vault merge=ansible-vault
group_vars/bibdata/vault.yml diff=ansible-vault merge=ansible-vault
group_vars/solrcloud/vault.yml diff=ansible-vault merge=ansible-vault
group_vars/lib-jobs/vault.yml diff=ansible-vault merge=ansible-vault
roles/pulibrary.nginxplus/files/conf/http/*.conf diff=ansible-vault merge=ansible-vault
roles/pulibrary.nginxplus/files/conf/stream/*.conf diff=ansible-vault merge=ansible-vault
