# Vagrant related files
/.vagrant
*.retry
# hide keys
pulsys_rsa_key*
# collections will be local
collections
# external roles will be local
external_roles
# vault merging
.ansible-vault-password
# Ignore Vagrant file 
Vagrantfile
images/*
# keep gz and sql files from accidental commit
*.gz
*.sql
