[defaults]
# automated host key checking may be added in 2.0
# see https://github.com/ansible/ansible-modules-core/issues/575
#
host_key_checking = False

# vendorize external collections
roles_path = ./external_roles
# vendorize external collections
collections_paths = ./collections
# vendorize external collections for 2.10
collections_path = ./collections
inventory = hosts.yml
pipelining = true
[connection]
pipelining =True
[ssh_connection]
pipelining=True
