[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
gitpython = "*"
yamllint = "*"
flake8 = "*"
cryptography = "*"
ansible = ">=5.4.0"
molecule = {extras = ["docker"], version = ">=3.6.1"}
ansible-lint = ">=5.4.0"

[requires]
python_version = "3.10"
