[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==9.1.0"
ansible-lint = "==6.22.1"
gitpython = "*"
gitdb = "*"
molecule = "==6.0.3"
pyyaml = "==6.0"
requests = "==2.31.0"
dnspython = "*"
molecule-plugins = {extras = ["docker"], version = "*"}
jmespath = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
