[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
molecule = "<=2.22"
docker = "*"
invoke = "*"
neovim = "*"
gitpython = "*"
yamllint = "*"
flake8 = "*"
ansible-lint = "*"
ansible = "*"

[requires]
python_version = "3.8"
