[Desktop Entry]
Type=Application
Name=Reset Mount Security
Terminal=true
Exec=/usr/local/bin/rbfstabGUI.sh
Hidden=false
Name[en_US]=1.Reset Mount Security
