[Desktop Entry]
Type=Application
Name=Mount Isilon
Terminal=true
Exec=/home/bcadmin/Desktop/scripts/mount.storage.sh
Hidden=false
Name[en_US]=2.Mount Isilon
