[Desktop Entry]
Type=Application
Name=Acquire Files from Desk Image RAID
GenericName=acquire digital archives
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/acquire-files-from-disk-image_raid.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
Name[en_US]=Acquire Files from Disk Image RAID
