[Desktop Entry]
Type=Application
Name=Acquire Files from Disk Image
GenericName=acquire-files-from-disk-image.desktop
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/acquire-files-from-disk-image.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
