[Desktop Entry]
Type=Application
Name=Acquire Digital Archivess
GenericName=acquire digital archives
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/acquire-digital-archives.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
Name[en_US]=Acquire Digital Archives
