[Desktop Entry]
Type=Application
Name=Add Extensions
GenericName=add-extensions
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/add-extensions.sh
Terminal=true
# Name[en_US]=Add Extensions
