[Desktop Entry]
Type=Application
Name=Branch PD
GenericName=branch pd
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/branch_pd.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
