[Desktop Entry]
Type=Application
Name=Create Reports
GenericName=create reports
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/createreports.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
