[Desktop Entry]
Type=Application
Name=IMG Multi Fiwalk
GenericName=img-multifiwalk
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/img-multifiwalk.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
