[Desktop Entry]
Type=Application
Name=Find Flag Words
GenericName=find-flag-words
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/find-flag-words.sh
Terminal=true
# Name[en_US]=Find Flag Words
