[Desktop Entry]
Type=Application
Name=Old Populate Did
GenericName=old_populate_did
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/old_populate_did.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
