[Desktop Entry]
Type=Application
Name=Populate Did Files Only
GenericName=populate_did_filesonly
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/populate_did_filesonly.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
