[Desktop Entry]
Type=Application
Name=Populate Did
GenericName=populate_did
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/populate_did.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
