[Desktop Entry]
Type=Application
Name=Populate Did Test
GenericName=populate_did test
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/populate_did_test.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
