[Desktop Entry]
Type=Application
Name=Populate Directories - RAID
GenericName= prepare_directories_raid
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/prepare_directories_raid.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
