[Desktop Entry]
Type=Application
Name=Prepare Directories
GenericName=prepare_directories
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/prepare_directories.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
