[Desktop Entry]
Type=Application
Name=Rsync Copy Files
GenericName=rsync-copy-files
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/rsync-copy-files.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
