[Desktop Entry]
Type=Application
Name=Sync to Storage
GenericName=sync.to.storage
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/sync.to.storage.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
