[Desktop Entry]
Type=Application
Name=Unzip Tar
GenericName=unzip-tar
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/unzip-tar.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
