[Desktop Entry]
Type=Application
Name=Validate Bag
GenericName=validate-bag
Comment=
Icon=gnome-terminal
Exec=/home/bcadmin/Desktop/scripts/code/validate-bag.sh
Terminal=true
# Name[en_US]=Acquire Digital Archives
