{% for server in zookeeper_hosts %}
{% if server.host is defined %}
{% if server.host == inventory_hostname_short %}
{{ server.id }}
{% endif %}
{% elif server == inventory_hostname_short %}
{{ loop.index }}
{% endif %}
{% endfor %}
