production:
  adapter: mysql2
  encoding: utf8
  database: {{ mudd_db_name }}
  pool: 5
  username: {{ mudd_db_user }}
  password: {{ mudd_db_password }}
  port: {{ mudd_db_port }}
  host: {{ db_host | default("localhost") }}
