# logrotate configuration for postgresql in {{ ansible_managed | comment }}
{{ postgres_log_file }} {
       daily
       maxsize 2G
       rotate 20
       copytruncate
       delaycompress
       compress
       notifempty
       missingok
       su root root
}
