# logrotate configuration for postgresql in {{ ansible_managed }}
/var/lib/postgresql/{{ postgres_version }}/main/pg_log/pg.json {
       weekly
       rotate 10
       copytruncate
       delaycompress
       compress
       notifempty
       missingok
       su root root
}
