# logrotate configuration for postgresql in {{ ansible_managed }}
/var/lib/postgresql/{{ postgres_version }}/main/pg_log/pg.json {
       daily
       maxsize 2G
       rotate 20
       copytruncate
       delaycompress
       compress
       notifempty
       missingok
       su root root
}
