node_id={{ node_identifier }}
node_name={{ ansible_hostname }}
conninfo='host={{ ansible_fqdn }} user={{ replication_user }} dbname={{ replication_database }} connect_timeout=2'
data_directory='/var/lib/postgresql/{{ postgres_version }}/{{ postgres_cluster_name }}'
service_start_command = 'sudo systemctl start postgresql.service'
service_stop_command = 'sudo systemctl stop postgresql.service'
service_restart_command = 'sudo systemctl restart postgresql.service'
service_reload_command = 'sudo systemctl reload postgresql.service'
service_promote_command = 'pg_ctlcluster {{ postgres_version }} main promote'
failover=automatic
promote_command='repmgr standby promote -f /etc/repmgr.conf --log-to-file'
follow_command='repmgr standby follow -f /etc/repmgr.conf --log-to-file --upstream-node-id=%n'
