# enable stats
session_preload_libraries = 'auto_explain'

auto_explain.log_min_duration = 60000 # worth discussing the interger here
auto_explain.log_analyze = on
auto_explain.log_triggers = on
auto_explain.log_nested_statements = on
