# Default Apache virtualhost template this config file in {{ ansible_managed }}

<VirtualHost *:443>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ apache.docroot }}
    ServerName {{ apache.servername }}

    <Directory {{ apache.docroot }}>
        AllowOverride All
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ apache.servername }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ apache.servername }}.acess.log combined
    SSLCertificateFile /etc/apache2/ssl/certs/{{ apache.servername }}_cert.cer
    SSLCertificateKeyFile /etc/apache2/ssl/private/{{ apache.servername }}_priv.key
    SSLCertificateChainFile /etc/apache2/ssl/certs/{{ apache.servername }}_chained.pem

</VirtualHost>
