<?php
/**
 * General Configuration
 *
 * All of your system's general configuration settings go in here.
 * You can see a list of the default settings in craft/app/etc/config/defaults/general.php
 */

return array(
	'*' => array(
		'omitScriptNameInUrls' => true,
		'enableCsrfProtection' => true,
		'cpTrigger' => 'adminPrinceton',
		'defaultWeekStartDay' => 0,
		'timezone' => 'America/New_York',
		'maxUploadFileSize' => 268435456,
		'extraAllowedFileExtensions' => 'jp2',
    'devMode' => false,
		'sendPoweredByHeader' => false,
		'siteUrl' => '{{ pas_site_url }}',
		'environmentVariables' => array(
			'basePath' => '{{ apache_app_path }}',
			'baseUrl'  => '{{ pas_base_url }}',
		),
	),
);
