#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# Allowed certificate principals for local user {{ item.name }}.
{% for principal in item.principals %}
{{ principal }}
{% endfor %}
