#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# SSH certificate authority access, managed by the ssh_ca_trust role.

TrustedUserCAKeys {{ ssh_ca_trusted_keys_path }}
AuthorizedPrincipalsFile {{ ssh_ca_auth_principals_dir }}/%u
PubkeyAuthentication yes
{% if ssh_ca_disable_password_auth %}
PasswordAuthentication no
{% endif %}
{% if ssh_ca_disable_kbdinteractive %}
KbdInteractiveAuthentication no
{% endif %}
