---
# Sensu agent configuration

##
# agent overview
##
#name: "hostname"
#namespace: "default"
agent-managed-entity: true
subscriptions:
  - system
labels:
  environment: "{{ sensu_env }}"
  application: "{{ sensu_app_name }}"
  team: "{{ sensu_team }}"

#annotations:
#  example/key: "example value"

##
# agent configuration
##
backend-url:
  - "ws://lib-monitor1.princeton.edu:8081"
#cache-dir: "/var/cache/sensu/sensu-agent"
#config-file: "/etc/sensu/agent.yml"
#disable-assets: false
log-level: "info" # available log levels: panic, fatal, error, warn, info, debug

##
