[Unit]
Description=VictoriaLogs
Documentation=https://docs.victoriametrics.com/VictoriaLogs/
After=network.target

[Service]
Type=simple
User={{ victorialogs_user }}
Group={{ victorialogs_group }}
ExecStart={{ victorialogs_binary_path }} -flagsAuthKey="" -envflag.enable=true -envflag.prefix=VL
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s
WorkingDirectory={{ victorialogs_data_dir }}
Environment="VL_storageDataPath={{ victorialogs_data_dir }}"
Environment="VL_httpListenAddr={{ victorialogs_http_listen_addr }}"
Environment="VL_loggerLevel={{ victorialogs_logger_level }}"

[Install]
WantedBy=multi-user.target
