# {{ ansible_managed | comment }}
# VictoriaLogs configuration
-storageDataPath={{ victorialogs_data_dir }}
-httpListenAddr={{ victorialogs_http_listen_addr }}
-loggerLevel={{ victorialogs_logger_level }}
-loggerFormat={{ victorialogs_logger_format }}
