<clickhouse replace="true">
  <distributed_ddl>
    <path>/clickhouse/task_queue/ddl</path>
  </distributed_ddl>
  <remote_servers>
    <cluster>
      <shard>
        <replica>
          <host>127.0.0.1</host>
          <port>9000</port>
        </replica>
      </shard>
    </cluster>
  </remote_servers>
  <zookeeper>
    <node>
      <host>127.0.0.1</host>
      <port>2181</port>
    </node>
  </zookeeper>
  <macros>
    <shard>01</shard>
    <replica>01</replica>
  </macros>
</clickhouse>
