receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
        max_recv_msg_size_mib: 16
      http:
        endpoint: 0.0.0.0:4318
  jaeger:
    protocols:
      grpc:
        endpoint: 0.0.0.0:14250
      thrift_http:
        endpoint: 0.0.0.0:14268
  httplogreceiver/heroku:
    endpoint: 0.0.0.0:8081
    source: heroku
  httplogreceiver/json:
    endpoint: 0.0.0.0:8082
    source: json

processors:
  batch:
    send_batch_size: 50000
    timeout: 1s
  signozspanmetrics/delta:
    metrics_exporter: clickhousemetricswrite, signozclickhousemetrics
    latency_histogram_buckets: [100us,1ms,2ms,6ms,10ms,50ms,100ms,250ms,500ms,1000ms,1400ms,2000ms,5s,10s,20s,40s,60s]
    dimensions_cache_size: 100000
    dimensions:
      - name: service.namespace
        default: default
      - name: deployment.environment
        default: default
      - name: signoz.collector.id
    aggregation_temporality: AGGREGATION_TEMPORALITY_DELTA

extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  zpages:
    endpoint: localhost:55679
  pprof:
    endpoint: localhost:1777

exporters:
  clickhousetraces:
    datasource: tcp://localhost:9000/signoz_traces{% if clickhouse_password is defined and clickhouse_password != '' and clickhouse_requires_password | default(false) %}?password={{ clickhouse_password }}{% endif %}
    use_new_schema: true
  clickhousemetricswrite:
    endpoint: tcp://localhost:9000/signoz_metrics{% if clickhouse_password is defined and clickhouse_password != '' and clickhouse_requires_password | default(false) %}?password={{ clickhouse_password }}{% endif %}
    timeout: 15s
    resource_to_telemetry_conversion:
      enabled: true
    disable_v2: true
  signozclickhousemetrics:
    dsn: tcp://localhost:9000/signoz_metrics{% if clickhouse_password is defined and clickhouse_password != '' and clickhouse_requires_password | default(false) %}?password={{ clickhouse_password }}{% endif %}
    timeout: 45s
  clickhouselogsexporter:
    dsn: tcp://localhost:9000/signoz_logs{% if clickhouse_password is defined and clickhouse_password != '' and clickhouse_requires_password | default(false) %}?password={{ clickhouse_password }}{% endif %}
    timeout: 10s
    use_new_schema: true
  metadataexporter:
    dsn: tcp://localhost:9000/signoz_metadata{% if clickhouse_password is defined and clickhouse_password != '' and clickhouse_requires_password | default(false) %}?password={{ clickhouse_password }}{% endif %}
    timeout: 10s
    tenant_id: default
    cache:
      provider: in_memory

service:
  telemetry:
    logs:
      encoding: json
  extensions: [health_check, zpages, pprof]
  pipelines:
    traces:
      receivers: [otlp, jaeger]
      processors: [signozspanmetrics/delta, batch]
      exporters: [clickhousetraces, metadataexporter]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhousemetricswrite, metadataexporter, signozclickhousemetrics]
    logs:
      receivers: [otlp, httplogreceiver/heroku, httplogreceiver/json]
      processors: [batch]
      exporters: [clickhouselogsexporter, metadataexporter]
