{{ ansible_managed | comment }}
{% if signoz_otel_config is defined %}
{{ signoz_otel_config | to_nice_yaml }}
{% else %}
receivers:
{% for receiver_name, receiver_config in signoz_otel_receivers.items() %}
  {{ receiver_name }}:
{% if receiver_config.protocols is defined %}
    protocols:
{% for protocol_name, protocol_config in receiver_config.protocols.items() %}
      {{ protocol_name }}:
{% for key, value in protocol_config.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
{% endfor %}
{% endif %}
{% if receiver_config.endpoint is defined %}
    endpoint: "{{ receiver_config.endpoint }}"
{% endif %}
{% if receiver_config.include is defined %}
    include:
{% for include_path in receiver_config.include %}
      - {{ include_path }}
{% endfor %}
{% endif %}
{% if receiver_config.exclude is defined %}
    exclude:
{% for exclude_path in receiver_config.exclude %}
      - {{ exclude_path }}
{% endfor %}
{% endif %}
{% if receiver_config.start_at is defined %}
    start_at: {{ receiver_config.start_at }}
{% endif %}
{% if receiver_config.operators is defined %}
    operators:
{% for operator in receiver_config.operators %}
      - type: {{ operator.type }}
{% if operator.regex is defined %}
        regex: '{{ operator.regex }}'
{% endif %}
{% if operator.parse_from is defined %}
        parse_from: {{ operator.parse_from }}
{% endif %}
{% if operator.layout_type is defined %}
        layout_type: {{ operator.layout_type }}
{% endif %}
{% if operator.layout is defined %}
        layout: '{{ operator.layout }}'
{% endif %}
{% if operator.mapping is defined %}
        mapping:
{% for key, value in operator.mapping.items() %}
          {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if operator.field is defined %}
        field: {{ operator.field }}
{% endif %}
{% if operator.value is defined %}
        value: "{{ operator.value }}"
{% endif %}
{% if operator.if is defined %}
        if: '{{ operator.if }}'
{% endif %}
{% endfor %}
{% endif %}
{% if receiver_config.collection_interval is defined %}
    collection_interval: {{ receiver_config.collection_interval }}
{% endif %}
{% if receiver_config.scrapers is defined %}
    scrapers:
{% if receiver_config.scrapers.cpu is defined %}
      cpu:
{% endif %}
{% if receiver_config.scrapers.load is defined %}
      load:
{% endif %}
{% if receiver_config.scrapers.memory is defined %}
      memory:
{% endif %}
{% if receiver_config.scrapers.disk is defined %}
      disk:
{% endif %}
{% if receiver_config.scrapers.network is defined %}
      network:
{% endif %}
{% if receiver_config.scrapers.process is defined %}
      process:
{% endif %}
{% if receiver_config.scrapers.filesystem is defined %}
      filesystem:
{% endif %}
{% endif %}
{% endfor %}

processors:
{% for processor_name, processor_config in signoz_otel_processors.items() %}
  {{ processor_name }}:
{% if processor_config.attributes is defined %}
    attributes:
{% for attribute in processor_config.attributes %}
      - key: {{ attribute.key }}
        value: "{{ attribute.value }}"
        action: {{ attribute.action }}
{% endfor %}
{% endif %}
{% if processor_config.timeout is defined %}
    timeout: {{ processor_config.timeout }}
{% endif %}
{% if processor_config.send_batch_size is defined %}
    send_batch_size: {{ processor_config.send_batch_size }}
{% endif %}
{% if processor_config.send_batch_max_size is defined %}
    send_batch_max_size: {{ processor_config.send_batch_max_size }}
{% endif %}
{% if processor_config.limit_mib is defined %}
    limit_mib: {{ processor_config.limit_mib }}
{% endif %}
{% if processor_config.spike_limit_mib is defined %}
    spike_limit_mib: {{ processor_config.spike_limit_mib }}
{% endif %}
{% if processor_config.check_interval is defined %}
    check_interval: "{{ processor_config.check_interval }}"
{% endif %}
{% if processor_config.logs is defined %}
    logs:
{% if processor_config.logs.exclude is defined %}
      exclude:
        match_type: {{ processor_config.logs.exclude.match_type }}
        bodies: {{ processor_config.logs.exclude.bodies | to_json }}
{% endif %}
{% endif %}
{% if processor_config.keys is defined %}
    keys:
{% for key in processor_config.keys %}
      - {{ key }}
{% endfor %}
{% endif %}
{% endfor %}

exporters:
{% for exporter_name, exporter_config in signoz_otel_exporters.items() %}
  {{ exporter_name }}:
{% if exporter_config.endpoint is defined %}
    endpoint: "{{ exporter_config.endpoint }}"
{% endif %}
{% if exporter_config.tls is defined %}
    tls:
{% if exporter_config.tls.insecure is defined %}
      insecure: {{ exporter_config.tls.insecure }}
{% endif %}
{% endif %}
{% if exporter_config.sending_queue is defined %}
    sending_queue:
{% if exporter_config.sending_queue.num_consumers is defined %}
      num_consumers: {{ exporter_config.sending_queue.num_consumers }}
{% endif %}
{% if exporter_config.sending_queue.queue_size is defined %}
      queue_size: {{ exporter_config.sending_queue.queue_size }}
{% endif %}
{% endif %}
{% if exporter_config.retry_on_failure is defined %}
    retry_on_failure:
{% if exporter_config.retry_on_failure.enabled is defined %}
      enabled: {{ exporter_config.retry_on_failure.enabled }}
{% endif %}
{% if exporter_config.retry_on_failure.initial_interval is defined %}
      initial_interval: {{ exporter_config.retry_on_failure.initial_interval }}
{% endif %}
{% if exporter_config.retry_on_failure.max_interval is defined %}
      max_interval: {{ exporter_config.retry_on_failure.max_interval }}
{% endif %}
{% if exporter_config.retry_on_failure.max_elapsed_time is defined %}
      max_elapsed_time: {{ exporter_config.retry_on_failure.max_elapsed_time }}
{% endif %}
{% endif %}
{% if exporter_config.verbosity is defined %}
    verbosity: {{ exporter_config.verbosity }}
{% endif %}
{% if exporter_config.sampling_initial is defined %}
    sampling_initial: {{ exporter_config.sampling_initial }}
{% endif %}
{% if exporter_config.sampling_thereafter is defined %}
    sampling_thereafter: {{ exporter_config.sampling_thereafter }}
{% endif %}
{% endfor %}

service:
{% if signoz_otel_service_telemetry is defined %}
  telemetry:
{% if signoz_otel_service_telemetry.logs is defined %}
    logs:
{% if signoz_otel_service_telemetry.logs.level is defined %}
      level: "{{ signoz_otel_service_telemetry.logs.level }}"
{% endif %}
{% endif %}
{% if signoz_otel_service_telemetry.metrics is defined %}
    metrics:
{% if signoz_otel_service_telemetry.metrics.level is defined %}
      level: "{{ signoz_otel_service_telemetry.metrics.level }}"
{% endif %}
{% endif %}

{% endif %}
  pipelines:
{% for pipeline_name, pipeline_config in signoz_otel_service_pipelines.items() %}
    {{ pipeline_name }}:
      receivers: {{ pipeline_config.receivers | to_json }}
      processors: {{ pipeline_config.processors | to_json }}
      exporters: {{ pipeline_config.exporters | to_json }}
{% endfor %}
{% if signoz_otel_service_extensions %}
  extensions: {{ signoz_otel_service_extensions | to_json }}
{% else %}
  extensions: []
{% endif %}
{% endif %}
