{{ ansible_managed | comment }}
{% if signoz_otel_config is defined %}
{{ signoz_otel_config | to_nice_yaml }}
{% else %}
receivers:
  {{ signoz_otel_receivers | to_nice_yaml(indent=2) | indent(2, first=False) }}

processors:
  {{ signoz_otel_processors | to_nice_yaml(indent=2) | indent(2, first=False) }}

exporters:
  {{ signoz_otel_exporters | to_nice_yaml(indent=2) | indent(2, first=False) }}

service:
{% if signoz_otel_service_telemetry is defined %}
  telemetry:
    {{ signoz_otel_service_telemetry | to_nice_yaml(indent=4) | indent(4, first=False) }}
{% endif %}
  pipelines:
    {{ signoz_otel_service_pipelines | to_nice_yaml(indent=4) | indent(4, first=False) }}
  extensions: {{ signoz_otel_service_extensions | to_json }}
{% endif %}
