# {{ ansible_managed | comment }}

receivers:
{{ signoz_otel_receivers | to_nice_yaml(indent=2) | indent(2, true) }}

processors:
{{ signoz_otel_processors | to_nice_yaml(indent=2) | indent(2, true) }}

exporters:
{{ signoz_otel_exporters | to_nice_yaml(indent=2) | indent(2, true) }}

service:
  pipelines:
{{ signoz_otel_service_pipelines | to_nice_yaml(indent=2) | indent(4, true) }}
  extensions:
{{ signoz_otel_service_extensions | to_nice_yaml(indent=2) | indent(4, true) }}
