[Unit]
Description=SigNoz
Documentation=https://signoz.io/docs
After=clickhouse-server.service

[Service]
User={{ signoz_user }}
Group={{ signoz_user }}
Type=simple
KillMode=mixed
Restart=on-failure
WorkingDirectory={{ signoz_install_dir }}
EnvironmentFile={{ signoz_install_dir }}/conf/systemd.env
ExecStart={{ signoz_install_dir }}/bin/signoz --config={{ signoz_install_dir }}/conf/prometheus.yml --use-logs-new-schema=true --use-trace-new-schema=true

[Install]
WantedBy=multi-user.target
