SIGNOZ_INSTRUMENTATION_LOGS_LEVEL=info
INVITE_EMAIL_TEMPLATE={{ signoz_install_dir }}/templates/invitation_email_template.html
SIGNOZ_SQLSTORE_SQLITE_PATH={{ signoz_data_dir }}/signoz.db
SIGNOZ_WEB_ENABLED=true
SIGNOZ_WEB_DIRECTORY={{ signoz_install_dir }}/web
SIGNOZ_JWT_SECRET={{ signoz_jwt_secret }}
SIGNOZ_ALERTMANAGER_PROVIDER=signoz
SIGNOZ_TELEMETRYSTORE_PROVIDER=clickhouse
SIGNOZ_TELEMETRYSTORE_CLICKHOUSE_DSN={{ clickhouse_dsn }}
