node_id={{ node_number }}
node_name='{{ node_name }}
conninfo='host={{ ansible_hostname }} user={{ repmgr_dbuser_name }} dbname={{ repmgr_dbuser_name }} connect_timeout=2'
data_directory='/var/lib/postgresql/{{ postgres_version }}/main'
service_start_command = 'sudo systemctl start postgresql.service'
service_stop_command = 'sudo systemctl stop postgresql.service'
service_restart_command = 'sudo systemctl restart postgresql.service'
service_reload_command = 'sudo systemctl reload postgresql.service'
