{{ ansible_managed | comment('c') }}
zone "{{ pul_nomad_consul_dns_domain }}" IN {
    type forward;
    forward only;
    forwarders { {{ pul_nomad_consul_dns_address }} port {{ pul_nomad_consul_dns_port }}; };
};
