[Unit]
Description=manages resque workers as a single service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/bin/{{ resque_worker_name}}-start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
