[Unit]
Description=Nginx web server built with Phusion Passenger
After=network.target

[Service]
Type=forking
PIDFile=/opt/nginx/logs/nginx.pid
ExecStart=/opt/nginx/sbin/nginx
ExecReload=/opt/nginx/sbin/nginx -s reload
ExecStop=/opt/nginx/sbin/nginx   
 -s quit

[Install]
WantedBy=multi-user.target 
