# roles/reservoir/templates/reservoir.in.sh.j2
DB_HOST="{{reservoir_db_host}}"
DB_PORT="{{reservoir_db_port}}"
DB_USERNAME="{{reservoir_db_username}}"
DB_PASSWORD="{{reservoir_db_password}}"
DB_DATABASE="{{reservoir_db_database}}"

# Not sure what values to give these and it runs locally without them
# DB_MAXPOOLSIZE
# DB_SERVER_PEM
