{{ ansible_managed | comment }}
<VirtualHost *:80>
    ServerName {{ server_name }}.princeton.edu
    ServerAlias {{ server_name }}
    DocumentRoot {{ apache_doc_root }}/current

    <Directory {{ apache_doc_root }}/current>
        Options -Indexes +FollowSymLinks -MultiViews
        AllowOverride None
        DirectoryIndex index.php index.html clip.php
        Require all granted
    </Directory>

    # Prevent access to the parent directories via .htaccess
    <Directory {{ apache_doc_root }}>
        AllowOverride None
        Require all denied
    </Directory>

    # Explicitly deny access to hidden files and directories
    <FilesMatch "^\.">
        Require all denied
    </FilesMatch>

    # Prevent directory traversal via symbolic links outside the DocumentRoot
    <DirectoryMatch "^/var/www/video_reserves/current/.*/$">
        Options +FollowSymlinks
    </DirectoryMatch>
    <DirectoryMatch "^/var/www/video_reserves/current/(?!.*/\.\.).*$">
        Options -FollowSymlinks
    </DirectoryMatch>
</VirtualHost>
