<?php

// {{ ansible_managed | comment }}
// mysql info
//
define ('APP_URL', 'https://{{ video_reserves_domain_name }}/hrc'); // without trailing slash
define('CAS_DOMAIN', 'https://{{ video_reserves_domain_name }}');
define('CERT_PATH', '{{ video_reserves_cert_path }}');

$perpage = 50;
?>
