<?php

// {{ ansible_managed | comment }}
// mysql info
//
define ('HOST', '{{ app_db_host }}');
define ('USER', '{{ app_db_user }}');
define ('PASS', '{{ app_db_password }}');
define ('DB', '{{ video_reserves_db_name }}');
define ('APP_URL', 'https://{{ ansible_hostname }}.princeton.edu/hrc'); // without training slash
define('CAS_DOMAIN', 'http://{{ ansible_hostname }}.princeton.edu');
$perpage = 50;
?>
