# {{ ansible_managed | comment }}
# This file configures systemd journal log disk usage limits
[Journal]
{% if journald_system_max_use is defined %}
SystemMaxUse={{ journald_system_max_use }}
{% endif %}
{% if journald_system_keep_free is defined %}
SystemKeepFree={{ journald_system_keep_free }}
{% endif %}
{% if journald_system_max_file_size is defined %}
SystemMaxFileSize={{ journald_system_max_file_size }}
{% endif %}
{% if journald_system_max_files is defined %}
SystemMaxFiles={{ journald_system_max_files }}
{% endif %}
