{{ ansible_managed | comment }}
# Keys for Library DevOps Staff
{% for item in pulsys_user_keys_from_github.results %}
# Keys for {{ item.item | regex_search("[^\/]*(?=.keys)") }}
{{ item.stdout }}
{% endfor %}
# Keys for CDH Staff
{% for item in cdh_keys_from_github.results %}
# Keys for {{ item.name }}
{{ item.key }}
{% endfor %}
# Other Keys
{% for item in non_puldev_local_keys %}
# Keys for {{ item.name }}
{{ item.key }}
{% endfor %}
