
<VirtualHost  *:80>
    ServerName {{ item.server_name }}.princeton.edu
    ServerAlias  {{ item.server_name }}
    DocumentRoot {{ item.doc_root }}
    
    <Location />
        Authtype CAS
        AuthName "Central Authentication Service"
        require user {{ cas_users }}
        AllowOverride None
        Options -Indexes +FollowSymLinks 
    </Location>
</VirtualHost>
