
<VirtualHost  *:80>
    ServerName {{ item.server_name }}.princeton.edu
    ServerAlias  {{ item.server_name }}
    DocumentRoot {{ item.doc_root }}

    <Location />
        AllowOverride None
        Options -Indexes +FollowSymLinks
    </Location>
</VirtualHost>
