{{ ansible_managed | comment }}
# Increase limits for solr user

{{ solr_user }}  soft  nofile  65000
{{ solr_user }}  hard  nofile  65000
{{ solr_user }}  soft  nproc   65000
{{ solr_user }}  hard  nproc   65000

