<?php
$databases = array (
  'default' =>
  array (
    'default' =>
    array (
      'database' => '{{ drupal_db_name }}',
      'username' => '{{ drupal_db_user }}',
      'password' => '{{ drupal_db_password }}',
      'host' => '{{ db_host | default("localhost") }}',
      'port' => '{{ drupal_db_port }}',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);

$config_directories = array(
  CONFIG_SYNC_DIRECTORY => 'sites/default/files/config_GgqhGGKbNejSwVp5O02ojVx_r8RgogdoGvKO59yK4B0qosdaXejr4KDlieRiWNW7zfXdDYsxKw',
);

$settings['hash_salt'] = 'GgqhGGKbNejSwVp5O02ojVx_r8RgogdoGvKO59yK4B0qosdaXejr4KDlieRiWNW7zfXdDYsxKw';

$settings['update_free_access'] = FALSE;

/**
 * Load services definition file.
 */
$settings['container_yamls'][] = __DIR__ . '/services.yml';


/* Makes sure jquery is loaded on every page */
/* set to false in production */
$conf['javascript_always_use_jquery'] = FALSE;

$settings['trusted_host_patterns'] = [
  '^localhost$',
  '^{{ inventory_hostname_short }}$',
  '^{{ recap_base_url }}$',
];
