---
# {{ ansible_managed | comment }}
#
# This is a generic, empty config file deployed by Ansible.
# It provides the basic structure for the OpenTelemetry Collector
# to start, but it does not enable any components.

receivers: {}
# Collect host data like CPU, memory, disk etc
processors: {}
#  Process the data. The resource detection processor detects and appends the variables, such as environment and system, which helps with the correlation
exporters: {}
# Output data. in our case ship them to the signoz endpoint

service:
  pipelines: {}

# Service combines receivers, processors and exports into a pipe consisting of logs, metrics, traces etc.,
