[Unit]
Description=OpenTelemetry Collector Contrib
After=network-online.target
Wants=network-online.target

[Service]
User={{ otel_service_user }}
Group={{ otel_service_group }}
ExecStart={{ otel_binary_path }} --config {{ otel_config_path }}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
