Redirect /eastasian/addpinyin-plugin-marcedit/InstallAddPinyin.zip http://libphp-prod.princeton.edu/eastasian/addpinyin-plugin-marcedit/InstallAddPinyin.zip
Redirect /libraries/firestone/rbsc/aids/mandelshtam/ https://findingaids.princeton.edu/collections/C0539
RewriteEngine on
RewriteCond %{HTTP_HOST} !^library.princeton.edu$
RewriteRule (.*) https://library.princeton.edu$1 [R=301,L]

## For NJMAPS
ProxyPass /njmaps http://libphp-prod.princeton.edu/njmaps
ProxyPassReverse /njmaps http://libphp-prod.princeton.edu/njmaps

## Photoduplication Quoting System
# ProxyPass /photoduplication/ http://libwebdev.princeton.edu/photoduplication/
# ProxyPassReverse /photoduplication/ http://libwebdev.princeton.edu/photoduplication/

### For Video Reserves
ProxyPass /hrc/ http://libphp-dev.princeton.edu/hrc/
ProxyPassReverse /hrc/ http://libphp-dev.princeton.edu/hrc/

### For East Asian Library
ProxyPass /eastasian/robe http://libphp-prod.princeton.edu/eastasian/robe
ProxyPassReverse /eastasian/robe http://libphp-prod.princeton.edu/eastasian/robe

## Front Matter
ProxyPass /eastasian/frontmatter http://libphp-prod.princeton.edu/eastasian/frontmatter
ProxyPassReverse /eastasian/frontmatter http://libphp-prod.princeton.edu/eastasian/frontmatter

### For East Asian Library
ProxyPass /eastasian/nadlLogin http://libphp-prod.princeton.edu/eastasian/nadlLogin
ProxyPassReverse /eastasian/nadlLogin http://libphp-prod.princeton.edu/eastasian/nadlLogin

## For East Asian Library
ProxyPass /eastasian/newtitles http://libphp-prod.princeton.edu/eastasian/newtitles
ProxyPassReverse /eastasian/newtitles http://libphp-prod.princeton.edu/eastasian/newtitles

## Staff EAL
ProxyPass /eastasian/stafftools http://libphp-prod.princeton.edu/eastasian/stafftools
ProxyPassReverse /eastasian/stafftools http://libphp-prod.princeton.edu/eastasian/stafftools

## For East Asian Library
ProxyPass /eastasian/oclcpinyin http://libphp-prod.princeton.edu/eastasian/oclcpinyin
ProxyPassReverse /eastasian/oclcpinyin http://libphp-prod.princeton.edu/eastasian/oclcpinyin

## For East Asian Library
ProxyPass /eastasian/diglib http://libphp-prod.princeton.edu/eastasian/diglib
ProxyPassReverse /eastasian/diglib  http://libphp-prod.princeton.edu/eastasian/diglib

## For East Asian Library
ProxyPass /eastasian/assets http://libphp-prod.princeton.edu/eastasian/assets/
ProxyPassReverse /eastasian/assets http://libphp-prod.princeton.edu/eastasian/assets/

### EAL
ProxyPass /eastasian/EALJ http://libphp-prod.princeton.edu/eastasian/EALJ
ProxyPassReverse /eastasian/EALJ http://libphp-prod.princeton.edu/eastasian/EALJ

### EAL
ProxyPass /eastasian/shadowfigures http://libphp-prod.princeton.edu/eastasian/shadowfigures
ProxyPassReverse /eastasian/shadowfigures http://libphp-prod.princeton.edu/eastasian/shadowfigures

 ## Romanizer
ProxyPass /eastasian/korroman/KoreanNameRomanizer.zip http://libphp-prod.princeton.edu/eastasian/korroman/KoreanNameRomanizer.zip
ProxyPassReverse /eastasian/korroman/KoreanNameRomanizer.zip http://libphp-prod.princeton.edu/eastasian/korroman/KoreanNameRomanizer.zip
ProxyPass /locator/ http://libwebprod.princeton.edu/locator/
ProxyPassReverse /locator/ http://libwebprod.princeton.edu/locator/

ProxyPass /illiad/ https://lib-illiad.princeton.edu/illiad/
ProxyPassReverse /illiad/ https://lib-illiad.princeton.edu/illiad/

ProxyPass /aeon/ https://lib-aeon.princeton.edu/aeon/
ProxyPassReverse /aeon/ https://lib-aeon.princeton.edu/aeon/

ProxyPass /AeonBibRequest/ https://lib-aeon.princeton.edu/AeonBibRequest/
ProxyPassReverse /AeonBibRequest/ https://lib-aeon.princeton.edu/AeonBibRequest/

# For Restricted Databases (legacy)
ProxyPass /dbrestricted http://libwebprod.princeton.edu/dbrestricted
ProxyPassReverse /dbrestricted http://libwebprod.princeton.edu/dbrestricted

ProxyPass /resolve/lookup http://libphp-prod.princeton.edu/resolve/lookup
ProxyPassReverse /resolve/lookup http://libphp-prod.princeton.edu/resolve/lookup

## for byzantine
ProxyPass /byzantine http://libphp-prod.princeton.edu/byzantine
ProxyPassReverse /byzantine http://libphp-prod.princeton.edu/byzantine

# for requests and locator
ProxyPass /locator http://libwebprod.princeton.edu/resolve/locator
ProxyPassReverse /locator http://libwebprod.princeton.edu/locator

ProxyPass /requests http://libwebprod.princeton.edu/requests
ProxyPassReverse /requests http://libwebprod.princeton.edu/requests

#ProxyPass /catalogs/restricted http://libserv39.princeton.edu/catalogs/restricted
#ProxyPassReverse /catalogs/restricted http://libserv39.princeton.edu/catalogs/restricted

# Papyrus
ProxyPass /papyrus http://libserv39.princeton.edu/papyrus/
ProxyPassReverse /papyrus http://libserv39.princeton.edu/papyrus/

# OLD RBSC Stuff
ProxyPass /libraries/firestone/rbsc http://libserv39.princeton.edu/libraries/firestone/rbsc
ProxyPassReverse /libraries/firestone/rbsc http://libserv39.princeton.edu/libraries/firestone/rbsc

# For RePEc
ProxyPass /econlib/RePEc/pri http://libruby-prod.princeton.edu/econlib/RePEc/pri
ProxyPassReverse /econlib/RePEc/pri http://libruby-prod.princeton.edu/econlib/RePEc/pri

# For ancient images
ProxyPass /images/ http://libserv39.princeton.edu/images/
ProxyPassReverse /images/ http://libserv39.princeton.edu/images/

## For lib-dbserver migration
ProxyPass /AssignedSpaceApplication https://lib-dbserver.princeton.edu/AssignedSpaceApplication
ProxyPassReverse /AssignedSpaceApplication https://lib-dbserver.princeton.edu/AssignedSpaceApplication

ProxyPass /AssignedSpaces https://lib-dbserver.princeton.edu/AssignedSpaces
ProxyPassReverse /AssignedSpaces https://lib-dbserver.princeton.edu/AssignedSpaces

ProxyPass /E-Series https://lib-dbserver.princeton.edu/E-Series
ProxyPassReverse /E-Series https://lib-dbserver.princeton.edu/E-Series

ProxyPass /LibraryStaff https://lib-dbserver.princeton.edu/LibraryStaff
ProxyPassReverse /LibraryStaff https://lib-dbserver.princeton.edu/LibraryStaff

ProxyPass /PreservationTracking https://lib-dbserver.princeton.edu/PreservationTracking
ProxyPassReverse /PreservationTracking https://lib-dbserver.princeton.edu/PreservationTracking

ProxyPass /RBVisuals https://lib-dbserver.princeton.edu/RBVisuals
ProxyPassReverse /RBVisuals https://lib-dbserver.princeton.edu/RBVisuals

ProxyPass /shib http://libphp-prod.princeton.edu/shib
ProxyPassReverse /shib http://libphp-prod.princeton.edu/shib

ProxyPass /scripts http://libphp-prod.princeton.edu/scripts
ProxyPassReverse /scripts http://libphp-prod.princeton.edu/scripts

ProxyPass /style http://libserv39.princeton.edu/style
ProxyPassReverse /style http://libserv39.princeton.edu/style
