Redirect /eastasian/addpinyin-plugin-marcedit/InstallAddPinyin.zip http://libphp-prod.princeton.edu/eastasian/addpinyin-plugin-marcedit/InstallAddPinyin.zip
Redirect /libraries/firestone/rbsc/aids/mandelshtam/ https://findingaids.princeton.edu/collections/C0539
RewriteEngine on
RewriteCond %{HTTP_HOST} !^library.princeton.edu$
RewriteRule (.*) https://library.princeton.edu$1 [R=301,L]

## "{{ proxy_and_reverse_proxy.Name }}"
ProxyPass "{{ proxy_and_reverse_proxy.src }}" "{{ proxy_and_reverse_proxy.dest }}"
ProxyPassReverse "{{ proxy_and_reverse_proxy.src }}" "{{ proxy_and_reverse_proxy.dest }}"
