apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-volumeclaim-template-chi-signoz-clickhouse-cluster-0-0-0
  namespace: {{ signoz_namespace }}
spec:
  storageClassName: {{ signoz_clickhouse_local_storage_class }}
  volumeName: {{ signoz_clickhouse_local_pv_name }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ signoz_clickhouse_local_pv_size }}
