apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ signoz_ingress_name }}
  namespace: {{ signoz_ingress_namespace }}
spec:
  ingressClassName: {{ signoz_ingress_class_name }}
  rules:
    - host: {{ signoz_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ signoz_ingress_service_name }}
                port:
                  number: {{ signoz_ingress_service_port }}
