global:
  storageClass: {{ signoz_storage_class }}

clickhouse:
  installCustomStorageClass: false

signoz:
  service:
    type: {{ signoz_service_type }}
    port: 8080
    nodePort: {{ signoz_http_node_port }}

otelCollector:
  service:
    type: NodePort
    ports:
      otlp:
        port: 4317
        targetPort: 4317
        nodePort: 32317
      otlp-http:
        port: 4318
        targetPort: 4318
        nodePort: 32318
