global:
  storageClass: {{ signoz_storage_class }}

clickhouse:
  installCustomStorageClass: false

signoz:
  service:
    type: {{ signoz_service_type }}
    port: 8080
    nodePort: {{ signoz_http_node_port }}

otelCollector:
  service:
    type: NodePort
  ports:
    otlp:
      enabled: true
      servicePort: 4317
      containerPort: 4317
      nodePort: {{ signoz_otel_grpc_node_port }}
      protocol: TCP
    otlp-http:
      enabled: true
      servicePort: 4318
      containerPort: 4318
      nodePort: {{ signoz_otel_http_node_port }}
      protocol: TCP
