# Serve ACME HTTP-01 challenges from {{ openresty_acme_webroot }}
location ^~ /.well-known/acme-challenge/ {
    root {{ openresty_acme_webroot }};
    default_type "text/plain";
    autoindex off;
    try_files $uri =404;
}
