{{ ansible_managed | comment }}
types {
  include "/usr/share/misc/mime.types"
}

server "server" {
	listen on egress port http
}

#server "{{ obsd_server_name | default(default)}}" {
#	listen on * tls port 443
#	tls {
#		certificate "/etc/ssl/tld_princeton_edu_chained.pem"
#		key "/etc/ssl/private/tld_princeton_edu_priv.key"
#	}
#	root "/htdocs"
#}
