{{ ansible_managed | comment }}
types {
  include "/usr/share/misc/mime.types"
}


server "lib-solr-mirror.princeton.edu" {
	listen on egress port http
	root "/htdocs/solrmirror"
	directory auto index
}

server "lib-solr-mirror.princeton.edu" {
	listen on * tls port 443
	tls {
		certificate "/etc/ssl/lib-solr-mirror_princeton_edu_chained.pem"
		key "/etc/ssl/private/lib-solr-mirror_princeton_edu_priv.key"
	}
	root "/htdocs/solrmirror"
	directory auto index
}
