# logrotate configuration for /tmp/ol_sitemap.log {{ ansible_managed | comment }}

/tmp/ol_sitemap.log {
  maxsize 5M
  daily
  rotate 2
  copytruncate
  delaycompress
  compress
  notifempty
  missingok
  su root root
}