/var/log/sneakers/sneakers.log {
    daily
    rotate 7
    compress
    delaycompress
    missingok
    notifempty
    {% if logrotate_su -%}
    su {{ sneakers_log_user | default('deploy') }} {{ sneakers_log_group | default('deploy') }}
    {% endif -%}
}
