# OpenPubKey SSH Configuration
{{ ansible_managed | comment }}

AuthorizedKeysCommand {{ opkssh_install_dir }}/{{ opkssh_binary_name }} verify %u %k %t
AuthorizedKeysCommandUser {{ opkssh_auth_cmd_user }}
