# This allows opkssh to call opkssh readhome <username> to read the user's policy file in /home/<username>/auth_id
{{ ansible_managed | comment }}

{{ opkssh_auth_cmd_user }} ALL=(ALL) NOPASSWD: {{ opkssh_install_dir }}/{{ opkssh_binary_name }} readhome *
