#version=RHEL8
ignoredisk --only-use=sda
clearpart --all --initlabel
autopart --type=lvm
bootloader --location=mbr --boot-drive=sda
network --bootproto=dhcp --device=eth0 --onboot=on
rootpw --plaintext packer
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone America/New_York --isUtc
reboot
user --name=packer --password=packer --plaintext --gecos="Packer User"

%packages
@^minimal-environment
@core
%end

%post
echo "packer ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
%end

