# {{ ansible_managed }}
[sshd]
enabled = true
port = ssh
filter = sshd
logpath = %(sshd_log)s
backend = {{ firewall_fail2ban_backend }}
{% if ansible_os_family == 'Debian' %}
banaction = ufw
{% else %}
banaction = firewallcmd-rich-rules
{% endif %}

