
# logrotate configuration for /opt/lib-jobs/shared/tmp/cron_log.log {{ ansible_managed | comment }}

/opt/{{rails_app_directory}}/shared/tmp/*.log {
  maxsize 500M
  daily
  rotate 5
  copytruncate
  delaycompress
  compress
  notifempty
  missingok
  su root root
}
