##
# You should look at the following URL's in order to grasp a solid understanding
# of Nginx configuration files in order to fully unleash the power of Nginx.
# http://wiki.nginx.org/Pitfalls
# this is an {{ ansible_managed }} config file
#
server {
	listen 80 default_server;
	listen [::]:80 default_server;


    root /opt/rails_app/current/public;
	passenger_enabled on;
    client_max_body_size 4g;


	server_name puls.* pulsearch.* catalog.* ;

}
