 sfx_host: {{ vault_sfx_host | default("secret") }} 
 sfx_port: {{ vault_sfx_port | default("port") }}
 sfx_user: {{ vault_sfx_user | default("user") }} 
 sfx_pass: {{ vault_sfx_pass | default("pass") }}
 sfx_global: {{ vault_sfx_global | default("global") }}
 sfx_local: {{ vault_sfx_local | default("local") }}
 worldcat_search_url: "http://www.worldcat.org/webservices/catalog/search/worldcat/sru"
 worldcat_read_url: "http://www.worldcat.org/webservices/catalog/content"
 worldcat_api_key: {{ vault_wc_key | default("key") }}
