{{ ansible_managed | comment }}

# COMPATIBILITY
#
compatibility_level = {{ postfix_compatibility_level }}


# LOCAL PATHNAME INFORMATION
#
queue_directory = /var/spool/postfix

#
command_directory = /usr/sbin

# daemon programs (i.e. programs listed in the master.cf file). This
# directory must be owned by root.
#
daemon_directory = {{ postfix_daemon_directory }}

# by the mail_owner account (see below).
#
data_directory = /var/lib/postfix

# QUEUE AND PROCESS OWNERSHIP
#
#
mail_owner = postfix

#
#myhostname = host.domain.tld
#myhostname = virtual.domain.tld
myhostname = {{ postfix_myhostname }}

# The mydomain parameter specifies the local internet domain name.
# The default is to use $myhostname minus the first component.
# $mydomain is used as a default value for many other configuration
# parameters.
#
#mydomain = domain.tld
mydomain = {{ postfix_mydomain }}

# SENDING MAIL
#
#
#myorigin = $myhostname
#myorigin = $mydomain
myorigin = {{ postfix_myorigin }}

# RECEIVING MAIL

#
# Note: you need to stop/start Postfix when this parameter changes.
#
#inet_interfaces = all
#inet_interfaces = $myhostname
#inet_interfaces = $myhostname, localhost
#inet_interfaces = localhost
inet_interfaces = {{ postfix_inet_interfaces }}

# Enable IPv4, and IPv6 if supported
inet_protocols = {{ postfix_inet_protocols }}

# will happen when the primary MX host is down.
#
#proxy_interfaces =
#proxy_interfaces = 1.2.3.4

#
# The default is $myhostname + localhost.$mydomain.  On a mail domain
# gateway, you should also include $mydomain.
#
# Do not specify the names of virtual domains - those domains are
# specified elsewhere (see VIRTUAL_README).
#
# STANDARD_CONFIGURATION_README).
#
#
#mydestination = $myhostname, localhost.$mydomain, localhost
#mydestination = $myhostname, localhost.$mydomain, localhost, $mydomain
#mydestination = $myhostname, localhost.$mydomain, localhost, $mydomain,
#	mail.$mydomain, www.$mydomain, ftp.$mydomain
{% if _postfix_mydestination != "<None>" %}
mydestination = {{ _postfix_mydestination | trim }}
{% endif %}

# REJECTING MAIL FOR UNKNOWN LOCAL USERS
#
#local_recipient_maps = unix:passwd.byname $alias_maps
#local_recipient_maps = proxy:unix:passwd.byname $alias_maps
#local_recipient_maps =

# with 450 (try again later) until you are certain that your
# local_recipient_maps settings are OK.
#
unknown_local_recipient_reject_code = 550

# TRUST AND RELAY CONTROL

# The mynetworks parameter specifies the list of "trusted" SMTP
# clients that have more privileges than "strangers".
#
# You can specify the list of "trusted" network addresses by hand
# or you can let Postfix do it for you (which is the default).
#
# only the local machine.
#
#mynetworks_style = class
#mynetworks_style = subnet
#mynetworks_style = host

# You can also specify the absolute pathname of a pattern file instead
# of listing the patterns here. Specify type:table for table-based lookups
# (the value on the table right-hand side is not used).
#
#mynetworks = 168.100.189.0/28, 127.0.0.0/8
#mynetworks = $config_directory/mynetworks
#mynetworks = hash:/etc/postfix/network_table
mynetworks = {{ _postfix_mynetworks | trim }}

# permit_mx_backup restriction description in postconf(5).
#
#relay_domains = $mydestination
{% if _postfix_relay_domains != "<None>" %}
relay_domains = {{ _postfix_relay_domains | trim }}
{% endif %}

smtpd_recipient_restrictions = {{ _postfix_smtpd_recipient_restrictions | trim }}

smtpd_sender_restrictions = {{ _postfix_smtpd_sender_restrictions | trim }}


# INTERNET OR INTRANET

# If you're connected via UUCP, see also the default_transport parameter.
#
#relayhost = $mydomain
#relayhost = [gateway.my.domain]
#relayhost = [mailserver.isp.tld]
#relayhost = uucphost
#relayhost = [an.ip.add.ress]
{% if postfix_relayhost is defined and postfix_relayhost | length > 0 %}
relayhost = {{ postfix_relayhost|replace("'", "") }}
{% endif %}

# REJECTING UNKNOWN RELAY USERS
#
#
#relay_recipient_maps = hash:/etc/postfix/relay_recipients

# INPUT RATE CONTROL
#
# Specify 0 to disable the feature. Valid delays are 0..10.
#
#in_flow_delay = 1s

# ADDRESS REWRITING
#
# ADDRESS REDIRECTION (VIRTUAL DOMAIN)
#
# The VIRTUAL_README document gives information about the many forms
# of domain hosting that Postfix supports.

# "USER HAS MOVED" BOUNCE MESSAGES
#
# See the discussion in the ADDRESS_REWRITING_README document.

# TRANSPORT MAP
#
# See the discussion in the ADDRESS_REWRITING_README document.

# ALIAS DATABASE
#
# The alias_maps parameter specifies the list of alias databases used
# by the local delivery agent. The default list is system dependent.
#
# On systems with NIS, the default is to search the local alias
# database, then the NIS alias database. See aliases(5) for syntax
# details.
#
# If you change the alias database, run "postalias /etc/aliases" (or
# wherever your system stores the mail alias file), or simply run
# "newaliases" to build the necessary DBM or DB file.
#
# It will take a minute or so before changes become visible.  Use
# "postfix reload" to eliminate the delay.
#
#alias_maps = dbm:/etc/aliases
{% if postfix_alias_maps is defined %}
alias_maps = {{ postfix_alias_maps }}
{% endif %}

#alias_maps = hash:/etc/aliases, nis:mail.aliases
#alias_maps = netinfo:/aliases

# tables that are not necessarily all under control by Postfix.
#
#alias_database = dbm:/etc/aliases
#alias_database = dbm:/etc/mail/aliases
alias_database = hash:/etc/aliases
#alias_database = hash:/etc/aliases, hash:/opt/majordomo/aliases

# ADDRESS EXTENSIONS (e.g., user+foo)
#
# trying user and .forward.
#
#recipient_delimiter = +

# The mail_spool_directory parameter specifies the directory where
# UNIX-style mailboxes are kept. The default setting depends on the
# system type.
#
#mail_spool_directory = /var/mail
#mail_spool_directory = /var/spool/mail

#
#mailbox_command = /some/where/procmail
#mailbox_command = /some/where/procmail -a "$EXTENSION"

# listen="/var/imap/socket/lmtp" prefork=0'' in cyrus.conf.
#mailbox_transport = lmtp:unix:/var/lib/imap/socket/lmtp

#
# mailbox_transport = lmtp:unix:/var/lib/imap/socket/lmtp
#
# local_destination_recipient_limit = 300
# local_destination_concurrency_limit = 5
#
#mailbox_transport = cyrus

#
#fallback_transport = lmtp:unix:/var/lib/imap/socket/lmtp
#fallback_transport =

#header_checks = regexp:/etc/postfix/header_checks

{% if postfix_header_checks_template is defined %}
header_checks = regexp:/etc/postfix/header_checks
{% endif %}

#
#
#fast_flush_domains = $relay_domains

# SHOW SOFTWARE VERSION OR NOT
#
smtpd_banner = {{ postfix_banner }}


#local_destination_concurrency_limit = 2
#default_destination_concurrency_limit = 20

# matches a pattern in the debug_peer_list parameter.
#
debug_peer_level = 2

# debug_peer_level parameter.
#
#debug_peer_list = 127.0.0.1
#debug_peer_list = some.domain

#
debugger_command =
	 PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
	 ddd $daemon_directory/$process_name $process_id & sleep 5

#
# debugger_command =
#	PATH=/bin:/usr/bin:/usr/local/bin; export PATH; (echo cont;
#	echo where) | gdb $daemon_directory/$process_name $process_id 2>&1
#	>$config_directory/$process_name.$process_id.log & sleep 5
#
# debugger_command =
#	PATH=/bin:/usr/bin:/sbin:/usr/sbin; export PATH; screen
#	-dmS $process_name gdb $daemon_directory/$process_name
#	$process_id & sleep 1

# sendmail_path: The full pathname of the Postfix sendmail command.
# This is the Sendmail-compatible mail posting interface.
#
sendmail_path = /usr/sbin/sendmail.postfix

#
newaliases_path = /usr/bin/newaliases.postfix

#
mailq_path = /usr/bin/mailq.postfix

#
setgid_group = {{ postfix_group }}

# html_directory: The location of the Postfix HTML documentation.
#
{% if postfix_html_directory is defined %}
html_directory = {{ postfix_html_directory }}
{% endif %}

# manpage_directory: The location of the Postfix on-line manual pages.
#
manpage_directory = /usr/share/man

# sample_directory: The location of the Postfix sample configuration files.
# This parameter is obsolete as of Postfix 2.1.
#
sample_directory = /usr/share/doc/postfix-2.10.1/samples

# readme_directory: The location of the Postfix README files.
#
{% if postfix_readme_directory is defined %}
readme_directory = {{ postfix_readme_directory }}
{% endif %}

# content_filter: An optional filter to classify content.
{% if postfix_clamav is defined and postfix_clamav == "enabled" %}
content_filter = scan:127.0.0.1:10025
receive_override_options = no_address_mappings
{% endif %}

{% if postfix_tls_protocols is defined %}
# smtpd_tls_mandatory_protcols: TLS protocols accepted by the Postfix SMTP
# server with mandatory TLS encryption.
#
smtpd_tls_mandatory_protocols = {{ postfix_tls_protocols }}
smtpd_tls_protocols = {{ postfix_tls_protocols }}
smtp_tls_mandatory_protocols = {{ postfix_tls_protocols }}
smtp_tls_protocols = {{ postfix_tls_protocols }}
{% endif %}

# The default SMTP TLS security level for the Postfix SMTP client
smtp_tls_security_level = {{ postfix_smtp_tls_security_level }}

# Optional lookup tables with mappings from recipient address to (message delivery transport, next-hop destination).
# transport_maps = hash:/etc/postfix/transport
{% if postfix_transport_maps_template is defined %}
transport_maps = hash:/etc/postfix/transport
{% endif %}

{% if postfix_biff is defined %}
biff = {% if postfix_biff %}yes{% else %}no{% endif %}
{% endif %}

{% if postfix_append_dot_mydomain is defined %}
append_dot_mydomain = {% if postfix_append_dot_mydomain %}yes{% else %}no{% endif %}
{% endif %}

{% if postfix_virtual_mailbox_base is defined %}
virtual_mailbox_base = {{ postfix_virtual_mailbox_base }}
{% endif %}

{% if postfix_virtual_mailbox_maps is defined %}
virtual_mailbox_maps = {{ postfix_virtual_mailbox_maps }}
{% endif %}

{% if _postfix_virtual_mailbox_domains | trim != "<None>" %}
virtual_alias_domains = {{ _postfix_virtual_mailbox_domains | trim }}
{% endif %}

{% if _postfix_virtual_alias_domains | trim != "<None>" %}
virtual_mailbox_domains = {{ _postfix_virtual_alias_domains | trim }}
{% endif %}

{% if postix_virtual_alias_maps is defined %}
virtual_alias_maps = {{ postix_virtual_alias_maps }}
{% endif %}

{% if postfix_virtual_uid_maps is defined %}
virtual_uid_maps = {{ postfix_virtual_uid_maps }}
{% endif %}

{% if postfix_virtual_gid_maps is defined %}
virtual_gid_maps = {{ postfix_virtual_gid_maps }}
{% endif %}

{% if postfix_smtpd_sasl_auth_enable is defined %}
smtpd_sasl_auth_enable = {% if postfix_smtpd_sasl_auth_enable %}yes{% else %}no{% endif %}
{% endif %}

{% if postfix_smtpd_sasl_local_domain is defined %}
smtpd_sasl_local_domain = {{ postfix_smtpd_sasl_local_domain }}
{% endif %}

{% if postfix_smtpd_sasl_security_options is defined %}
smtpd_sasl_security_options = {{ postfix_smtpd_sasl_security_options }}
{% endif %}

{% if postfix_smtpd_sasl_authenticated_header is defined %}
smtpd_sasl_authenticated_header = {% if postfix_smtpd_sasl_authenticated_header %}yes{% else %}no{% endif %}
{% endif %}

{% if postfix_broken_sasl_auth_clients is defined %}
broken_sasl_auth_clients = {% if postfix_broken_sasl_auth_clients %}yes{% else %}no{% endif %}

{% endif %}

{% if postfix_smtpd_tls_cert_file is defined %}
smtpd_tls_cert_file = {{ postfix_smtpd_tls_cert_file }}
{% endif %}

{% if postfix_smtpd_tls_key_file is defined %}
smtpd_tls_key_file = {{ postfix_smtpd_tls_key_file }}
{% endif %}

{% if postfix_smtpd_tls_received_header is defined %}
smtpd_tls_received_header = {% if postfix_smtpd_tls_received_header %}yes{% else %}no{% endif %}
{% endif %}

{% if postfix_smtpd_tls_security_level is defined %}
smtpd_tls_security_level = {{ postfix_smtpd_tls_security_level }}
{% endif %}

{% if postfix_smtpd_tls_ask_ccert is defined %}
smtpd_tls_ask_ccert = {% if postfix_smtpd_tls_ask_ccert %}yes{% else %}no{% endif %}
{% endif %}

{% if postfix_smtpd_tls_loglevel is defined %}
smtpd_tls_loglevel = {{ postfix_smtpd_tls_loglevel }}
{% endif %}

{% if postfix_smtpd_tls_session_cache_database is defined %}
smtpd_tls_session_cache_database = {{ postfix_smtpd_tls_session_cache_database }}
{% endif %}

{% if postfix_smtp_tls_cert_file is defined %}
smtp_tls_cert_file = {{ postfix_smtp_tls_cert_file }}
{% endif %}

{% if postfix_smtp_tls_key_file is defined %}
smtp_tls_key_file = {{ postfix_smtp_tls_key_file }}
{% endif %}

{% if postfix_smtp_tls_session_cache_database is defined %}
smtp_tls_session_cache_database = {{ postfix_smtp_tls_session_cache_database }}
{% endif %}

{% if postfix_tls_random_source is defined %}
tls_random_source = {{ postfix_tls_random_source }}
{% endif %}

{% if postfix_smtpd_tls_mandatory_protocols is defined %}
smtpd_tls_mandatory_protocols = {{ postfix_smtpd_tls_mandatory_protocols }}
{% endif %}

{% if postfix_smtp_tls_mandatory_protocols is defined %}
smtp_tls_mandatory_protocols = {{ postfix_smtp_tls_mandatory_protocols }}
{% endif %}

{% if postfix_virtual_transport is defined %}
virtual_transport = {{ postfix_virtual_transport }}
{% endif %}

{% if postfix_home_mailbox is defined %}
home_mailbox = {{ postfix_home_mailbox }}
{% endif %}

{% if postfix_message_size_limit is defined %}
message_size_limit = {{ postfix_message_size_limit }}
{% endif %}

{% if postfix_smtpd_helo_required is defined %}
smtpd_helo_required = {% if postfix_smtpd_helo_required %}yes{% else %}no{% endif %}
{% endif %}

{% if postfix_anvil_rate_time_unit is defined %}
anvil_rate_time_unit = {{ postfix_anvil_rate_time_unit }}
{% endif %}

{% if postfix_smtpd_client_connection_rate_limit is defined %}
smtpd_client_connection_rate_limit = {{ postfix_smtpd_client_connection_rate_limit }}
{% endif %}

{% if postfix_smtpd_client_connection_count_limit is defined %}
smtpd_client_connection_count_limit = {{ postfix_smtpd_client_connection_count_limit }}
{% endif %}

{% if postfix_bounce_queue_lifetime is defined %}
bounce_queue_lifetime = {{ postfix_bounce_queue_lifetime }}
{% endif %}

# https://stafwag.github.io/blog/blog/2018/03/04/postfix-smarthost-with-authentication/
smtp_use_tls = {{ postfix_smtp_use_tls | ternary('yes', 'no') }}
smtp_sasl_auth_enable = {{ postfix_smtp_sasl_auth_enable | ternary('yes', 'no') }}
smtp_sasl_password_maps = hash:{{ postfix_smtp_sasl_password_map }}
smtp_sasl_security_options = {{ postfix_smtp_sasl_security_options }}
smtp_tls_wrappermode = {{ postfix_smtp_tls_wrappermode | ternary('yes', 'no') }}

