{{ ansible_managed | comment }}

{% if nginx_modules.njs %}
  {% if nginx_http_template_enable %}
load_module modules/ngx_http_js_module.so;
  {% endif %}
  {% if nginx_stream_template_enable %}
load_module modules/ngx_stream_js_module.so;
  {% endif %}
{% endif %}

{% if nginx_modules.perl %}
load_module modules/ngx_http_perl_module.so;
{% endif %}

{% if nginx_modules.geoip %}
  {% if nginx_http_template_enable %}
load_module modules/ngx_http_geoip_module.so;
  {% endif %}
  {% if nginx_stream_template_enable %}
load_module modules/ngx_stream_geoip_module.so;
  {% endif %}
{% endif %}

{% if nginx_modules.image_filter %}
load_module modules/ngx_http_image_filter_module.so;
{% endif %}

{% if nginx_modules.rtmp and nginx_type == "plus" %}
load_module modules/ngx_rtmp_module.so;
{% endif %}

{% if nginx_modules.xslt %}
load_module modules/ngx_http_xslt_filter_module.so;
{% endif %}

{% if nginx_modules.dos and nginx_type == "plus" %}
load_module modules/ngx_http_app_protect_dos_module.so;
{% endif %}

user  nginx;
worker_processes  auto;
worker_rlimit_nofile 60000;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format json_logs escape=json '{'
        '"remote_ip": "$remote_addr",'
        '"remote_user": "$remote_user",'
        '"timestamp": "$time_iso8601",'
        '"method": "$request_method",'
        '"uri": "$request_uri",'
        '"protocol": "$server_protocol",'
        '"status": "$status",'
        '"body_bytes_sent": "$body_bytes_sent",'
        '"referer": "$http_referer",'
        '"host": "$host",'
        '"user_agent": "$http_user_agent"'
    '}';

    access_log  /var/log/nginx/access.log json_logs;

    resolver_timeout 10s;
    resolver 128.112.128.50 valid=300s ipv6=off;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    {% if nginx_modules.dos and nginx_type == "plus" %}
    app_protect_dos_enable on;
    {% endif %}

    # app_protect_security_log log_all;

    #gzip  on;

    include /etc/nginx/conf.d/*.conf;
}

