[Unit]
Description=Renew Let's Encrypt certificates with lego (DNSimple)

[Service]
Type=oneshot
EnvironmentFile={{ lego_env_file }}
ExecStart={{ lego_install_path }} --path {{ lego_state_dir }} \
  --email lsupport@princeton.edu --dns dnsimple \
  {{ lego_domains_args }} \
  renew --days {{ renew_days }} --renew-hook {{ deploy_hook_path }}
