## { ansible_managed }
# this template includes all redirect rules
# and uses proxies_by_box.yml to create proxy rules for nginx

proxy_ssl_server_name on;

rewrite ^/papyrus(.*)$ https://dpul.princeton.edu/papyri redirect;

# sites that run on dss2

{% for item in dss2_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://dss2.princeton.edu/{{ item }}";
    }
{% endfor %}

# sites that run on lib-dbserver

{% for item in lib-dbserver_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://lib-dbserver.princeton.edu/{{ item }}";
    }
{% endfor %}

# sites that run on libphp-prod

{% for item in lib-phpprod_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://libphp-prod.princeton.edu/{{ item }}";
    }
{% endfor %}

# sites that run on lib-static-prod

{% for item in lib-static-prod_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://lib-static-prod.princeton.edu/{{ item }}";
    }
{% endfor %}

# sites that run on libwebprod

{% for item in libwebprod_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://libwebprod.princeton.edu/{{ item }}";
    }
{% endfor %}

# other sites we need to proxy

{% for item in other_proxies %}
    location /"{{ item.src }}" {
        proxy_pass "https://{{ item.host }}.princeton.edu/{{ item.url }}";
    }
{% endfor %}
