# logrotate configuration for app_protect in {{ ansible_managed | comment }}
/var/log/app_protect/*.log {
    daily
    rotate 7
    compress
    missingok
    notifempty
    copytruncate
    delaycompress
    dateext
    create 0640 nginx nginx
}
