{{ ansible_managed | comment }}

{% if nginx_modules.njs %}
{% if nginx_http_template_enable %}
load_module modules/ngx_http_js_module.so;
{% endif %}
{% if nginx_stream_template_enable %}
load_module modules/ngx_stream_js_module.so;
{% endif %}
{% endif %}
{% if nginx_modules.perl %}
load_module modules/ngx_http_perl_module.so;
{% endif %}
{% if nginx_modules.geoip %}
{% if nginx_http_template_enable %}
load_module modules/ngx_http_geoip_module.so;
{% endif %}
{% if nginx_stream_template_enable %}
load_module modules/ngx_stream_geoip_module.so;
{% endif %}
{% endif %}
{% if nginx_modules.image_filter %}
load_module modules/ngx_http_image_filter_module.so;
{% endif %}
{% if nginx_modules.rtmp and nginx_type == "plus" %}
load_module modules/ngx_rtmp_module.so;
{% endif %}
{% if nginx_modules.xslt %}
load_module modules/ngx_http_xslt_filter_module.so;
{% endif %}
{% if nginx_modules.waf and nginx_type == "plus" %}
load_module modules/ngx_http_modsecurity_module.so;
{% endif %}
user  {{ nginx_main_template.user }};
worker_processes  {{ nginx_main_template.worker_processes }};
worker_rlimit_nofile 60000;

error_log  /var/log/nginx/error.log {{ nginx_main_template.error_level }};
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ nginx_main_template.worker_connections }};
}

{% if nginx_main_template.http_enable %}
http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    server_names_hash_max_size {{ nginx_server_names_hash_max_size }}
    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }}

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    # to log everything to the access log, replace lines ** to ** with the single line below
    # access_log  /var/log/nginx/access.log  main;
    # defining #loggable here omits any 200 (OK) or 300 (redirected) series https status codes
    map $status $loggable {
        ~^[23]  0;
        default 1;
    }
    
    access_log /var/log/nginx/access.log combined if=$loggable;


    #  use intermediate Mozilla SSL configurator
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    add_header Strict-Transport-Security "max-age=63072000" always;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  {{ nginx_main_template.http_settings.keepalive_timeout }};

    #gzip  on;
{% if nginx_main_template.http_settings.cache %}
    proxy_cache_path /tmp/cache keys_zone=one:10m;
{% endif %}
{% if nginx_main_template.http_settings.rate_limit %}
    limit_req_zone $binary_remote_addr zone=mylimit:10m rate=10r/s;
{% endif %}
{% if nginx_main_template.http_settings.keyval %}
    keyval_zone zone={{nginx_main_template.http_settings.keyval.zone}}:32k state=one.keyval;
    keyval $arg_text $text zone=one;
{% endif %}
{% if nginx_main_template.http_global_autoindex | default(false) %}
    autoindex on;
{% endif %}
    include /etc/nginx/conf.d/*.conf;
}
{% endif %}

{% if nginx_main_template.stream_enable %}
stream {
    include /etc/nginx/conf.d/stream/*.conf;
}
{% endif %}
