[Unit]
Description=figx
After=local-fs.target network.target

[Service]
Type=simple
User=deploy
Group=deploy
WorkingDirectory=/opt/{{rails_app_directory}}/current/figx/_build/{{rails_app_env}}/rel/figx
ExecStart=/bin/bash --login -c "/opt/{{rails_app_directory}}/current/figx/_build/{{rails_app_env}}/rel/figx/bin/figx start"
ExecStop=/bin/bash --login -c "/opt/{{rails_app_directory}}/current/figx/_build/{{rails_app_env}}/rel/figx/bin/figx stop"
Environment=LANG=en_US.utf8
Environment=MIX_ENV={{rails_app_env}}
Environment=PORT=4000
LimitNOFILE=65535
UMask=0027
SyslogIdentifier=figx
Restart=always


[Install]
WantedBy=multi-user.target
