# {{ ansible_managed }}
# Manual customization of this file is not recommended.
# Monit control file

set daemon {{ monit_interval }}
{% if monit_start_delay > 0 %}
  with start delay {{ monit_start_delay }}
{% endif %}

set logfile {{ monit_logfile }}

set mailserver {{ monit_mail_host}}

set eventqueue
  basedir {{ monit_event_path }}
  slots 100

set mail-format {
  from: {{ monit_mail_default_from }}
  reply-to: {{ monit_mail_default_from }}
  subject: {{ monit_mail_default_subject }}
  message: {{ monit_mail_default_message }}
}

{% if monit_alerts_on %}set alert {{ monit_mail_alert_to }} NOT ON { {{ monit_alert_skip_when }} }{% endif %}

include /etc/monit/conf-enabled/*
