# {{ ansible_managed | comment }}
# Certain User-Agent request header values will cause requests to be blocked

map $http_user_agent $default_blocked_agent {

    # Don't block by default
    default 0;

    # Block anonymous user agents
    "" 1;      # Empty
    "-" 1;     # Dash

    # Block bad bots
    "~*abonti" 1;
    "~*ahrefsbot" 1;
    "~*baiduspider" 1;
    "~*dotbot" 1;
    "~*ezooms" 1;
    "~*giftghost" 1;
    "~*httrack" 1;
    "~*ltx71" 1;
    "~*megaindex" 1;
    "~*mj12" 1;
    "~*openvas" 1;
    "~*rogerbot" 1;
    "~*scoutjet" 1;
    "~*scrapy" 1;
    "~*semrushbot" 1;
    "~*seokicks" 1;
    "~*seznam" 1;
    "~*sogou" 1;
    "~*tencenttraveler" 1;
    "~*xenulinksleuth" 1;
    "~*yandex" 1;
}

# The following IP addresses are exempt from User-Agent based blocking

map $remote_addr $blocked_agent {
    default $default_blocked_agent;

    127.0.0.1 0;
}
