# {{ ansible_managed | comment }}
DSPACE_BASE="/home/{{ deploy_user }}"
DSPACE_DIR="$DSPACE_BASE/dspace"
DSPACE_BUILD_CFG={{ env }}

ANT_HOME=/opt/apache-ant
ANT_OPTS="-Xms128m -Xmx800m"
DSPACE_CLEAN_BACKUPS_ON_DEPLOY=false
DSPACE_DB={{ dspace_db_name }}
DSPACE_DB_BACKUP="$DSPACE_DIR/backup"
DSPACE_DB_FILENAME=dspace
DSPACE_DB_USER={{ dspace_db_user }}
DSPACE_DB_HOST={{ dspace_db_host }}
DSPACE_DB_PORT={{ dspace_db_port }}
DSPACE_MODE=TEST
DSPACE_OVERWRITE_ON_DEPLOY=true
DSPACE_REMOVE_LOGS_AT_STARTUP=false
# DSPACE_REMOVE_WEBAPPS="xmlui oai rest rdf sword swordv2"
DSPACE_REMOVE_WEBAPPS=
DSPACE_REMOVE_WEBAPP_CACHE=true
DSPACE_ROOT_WEBAPP=jspui
DSPACE_SRC="$DSPACE_BASE/src"
DSPACE_USER=dspace
GIT_AUTOMIRROR=true
GIT_BRANCH={{ atmire_git_branch }}
#JPDA_ADDRESS=5005
JPDA_SUSPEND=n
M2_HOME=/opt/apache-maven
M2_COMMAND="-Denv=$DSPACE_BUILD_CFG clean package"
REFRESH_ATMIRE_LIBS=false
REFRESH_ATMIRE_SNAPSHOTS=true
TOMCAT_HOME="$DSPACE_BASE/apache-tomcat"
TOMCAT_OPTS="-Xmx3g -Xms128m -Dfile.encoding=UTF-8 -Djava.awt.headless=true -XX:-OmitStackTraceInFastThrow"
TOMCAT_SERVICE="sudo service dspace"
export DSPACE_CLI_JAVA_OPTS="-Xmx1g -Dfile.encoding=UTF-8 -Djava.awt.headless=true -Dlog.init.config=$DSPACE_DIR/config/log4j-cli.properties"
#[[ $DSPACE_MODE = "PROD" ]] && NO_SNAPSHOTS=true
