# {{ ansible_managed | comment }} 

    #################
    # Core settings #
    #################

    # Standard nginx log format, amended to include $blocked_agent and $per_user_key
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" '
                      '$blocked_agent $per_user_key';
    access_log  /var/log/nginx/access.log  main;
    error_log /var/log/nginx/error.log;

    # Don't include nginx version in error pages
    server_tokens off;

    # Don't limit upload size
    client_max_body_size 0;

    # Wait up to 3 minutes for most dspace urls to respond, by default
    proxy_read_timeout 180;

    # Limit number of http2 streams per client (each stream might consume a db connection)
    http2_max_concurrent_streams 15;

    ######################################
    # Request blocking and rate limiting #
    ######################################

    include /etc/nginx/include/blocked-agents.nginx;
    include /etc/nginx/include/blocked-ips.nginx;
    include /etc/nginx/include/grouped-agents.nginx;

    limit_conn_zone $per_user_key zone=pdf_conn_limit:5m;
    limit_req_zone $per_user_key zone=pdf_req_limit:5m rate=3r/m;
    limit_req_zone $per_user_key zone=thumbnail_req_limit:10m rate=5r/s;
    limit_req_zone $per_user_key zone=other_image_req_limit:2m rate=2r/s;
    limit_req_zone $per_user_key zone=community_list_req_limit:5m rate=20r/m;
    limit_req_zone $per_user_key zone=cua_i18n_req_limit:2m rate=5r/m;
    limit_req_zone $per_user_key zone=admin_req_limit:10m rate=1r/s;
    limit_req_zone $per_user_key zone=oai_req_limit:10m rate=12r/m;
    limit_req_zone $per_user_key zone=rest_req_limit:10m rate=6r/s;
    limit_req_zone $per_user_key zone=default_req_limit:10m rate=20r/m;

    limit_conn_status 429;
    limit_req_status 429;

    ###########
    # Caching #
    ###########

    proxy_cache_path /var/cache/nginx levels=1:2 use_temp_path=off keys_zone=cache:10m max_size=5g;

    ########
    # HTTP #
    ########

    server {
        listen       80 default_server;
        server_name  _;

        # Permanent redirect everything to https
        location / {
            return 301 https://$host$request_uri;
        }
    }

    #########
    # HTTPS #
    #########

    server {
        listen       443 ssl http2 default_server;
        server_name  _;

        ################
        # SSL settings #
        ################

        ssl_certificate "/etc/nginx/include/certs/ssl-cert-snakeoil.pem";
        ssl_certificate_key "/etc/nginx/include/private/ssl-cert-snakeoil.key";
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
        ssl_prefer_server_ciphers off;

        resolver 8.8.8.8 8.8.4.4 valid=300s;
        resolver_timeout 5s;
        add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
        add_header X-Frame-Options DENY;
        add_header X-Content-Type-Options nosniff;
        add_header X-XSS-Protection "1; mode=block";
        add_header X-Robots-Tag none;

        #
        # Redirects
        #

        location ~ ^/jspui(.*)$ {
            return 301 https://$host$1;
        }

        ######################
        # Custom error pages #
        ######################

        error_page 403 /error-pages/403.html; # blocked request or static directory listing denied
        error_page 404 /error-pages/404.html; # static resource not found
        error_page 429 /error-pages/429.html; # request was throttled
        error_page 502 /error-pages/502.html; # upstream error
        error_page 504 /error-pages/504.html; # upstream timeout
        location /error-pages {
            root /etc/nginx;
            include /etc/nginx/include/static-headers.nginx;
        }

        ###############################
        # Request blocking and 404ing #
        ###############################

        # Send blocked agents away immediately
        if ($blocked_agent = "1") { return 403; }

        # Send 404s for urls that should never be publicly accessible
        location ~ ^/(apple-touch|solr|wp-).*$ { return 404; }

        # Send 404s for non-existing URLs likely to be tried by directory-navigating bots
        location ~ ^/(handle|handle\/|handle\/[^\/]+)$ { return 404; }

        ##################
        # PDF bitstreams #
        ##################

        # PDF downloads are assumed to be slow due to possibly large size and the
        # fact that dynamic citation page generation may be enabled and necessary.
        # Given the fact that these potentially-slow downloads tie up a database
        # connection, we limit them to one concurrent download per client IP.
        # In addition, we also apply an aggressive rate limit per user.

        location ~ ^/bitstream/handle/.*\.pdf(?!\.jpg)(?!\.png).*$ {
            max_ranges 0;
            limit_conn pdf_conn_limit 1;
            limit_req zone=pdf_req_limit burst=5;
            error_page 429 /error-pages/429-pdf.html;
            proxy_read_timeout 900; # citation page generation can take a while
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        ########################
        # Thumbnail bitstreams #
        ########################

        # Thumbnail bitstreams are cached and moderately rate limited

        location ~ ^/bitstream/handle/.*(\.jpg|\.png).*$ {
            proxy_ignore_headers Cache-Control Expires;
            proxy_hide_header Cache-Control;
            proxy_hide_header Expires;
            proxy_hide_header Pragma;
            proxy_hide_header Vary;
            proxy_cache cache;
            proxy_cache_valid 200 60m;
            proxy_cache_valid 404 1m;
            add_header X-Cache-Status $upstream_cache_status;
            limit_req zone=thumbnail_req_limit burst=40;
            add_header X-Content-Class thumbnail_bitstream;
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        ##########################
        # Other image bitstreams #
        ##########################

        # Non-thumbnail image bitstreams are never cached, but are moderately rate limited.
        location ~ ^/bitstream/handle/.*(\.bmp|\.gif|\.jpeg|\.JPG|\.tiff|\.tif).*$ {
            limit_req zone=other_image_req_limit burst=20;
            add_header X-Content-Class other_image_bitstream;
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        # No rate limit for other proxied requests that don't hit DSpace directly.
        location ~ ^(/Shibboleth.sso|/shibboleth-sp).*$ {
            add_header X-Content-Class apache;
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        ##################
        # Community-list #
        ##################

        # The community list is rate limited for everyone

        location ~ ^/community-list$ {
            limit_req zone=community_list_req_limit burst=10;
            add_header X-Content-Class community_list;
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        ############
        # CUA i18n #
        ############

        # CUA's i18n JSON file is requested often but doesn't change often.
        # Here we rate limit it and encourage caching by browsers and forward proxies.

        location /JSON/cua/i18n {
            limit_req zone=cua_i18n_req_limit burst=2;
            proxy_hide_header Cache-Control;
            proxy_hide_header Expires;
            proxy_hide_header Pragma;
            proxy_hide_header Vary;
            expires 24h;
            add_header Vary "Accept-Encoding, Accept-Language";
            add_header X-Content-Class localized_text;
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        ##################
        # Admin UI pages #
        ##################

        # These are rate limited but get a higher read timeout than most requests

        location /admin {
            limit_req zone=admin_req_limit burst=10;
            add_header X-Content-Class admin;
            proxy_read_timeout 900; # batch imports can take a while
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        ################
        # OAI and REST #
        ################

        # Mostly automated agent-facing, these are limited more aggressively than default

        location /oai {
            limit_req zone=oai_req_limit burst=3;
            add_header X-Content-Class oai;
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        ################
        # REST and DS2 #
        ################

        # Let users access REST and DS2 URLs quickly, but turn bots away

        location ~ ^/(ds2|rest|rt4ds)/ {
            if ($per_user_key ~ bot) {
              return 403;
            }
            limit_req zone=rest_req_limit burst=10;
            add_header X-Content-Class rest;
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        ######################
        # Other non-bot URLs #
        ######################

        # Turn bots away from all URLs we don't want them in

        location ~ ^/(browse|community-list|discover|fins-img|mgmt|most-popular|search|statistics|statlet).*$ {
            if ($per_user_key ~ bot) {
              return 403;
            }
            add_header X-Robots-Tag "noindex, nofollow";
            add_header X-Content-Class non_bot;
            include /etc/nginx/include/proxy-to-apache.nginx;
        }

        ###################
        # Everything else #
        ###################

        location / {
            add_header X-Content-Class default;
            include /etc/nginx/include/proxy-to-apache.nginx;
        }
    }
