# {{ ansible_managed | comment }}
#!/bin/bash

sudo /usr/bin/certbot revoke --cert-path /etc/letsencrypt/live/{{ acme_tld_domain_name }}/cert.pem --non-interactive --agree-tos --email {{ acme_certbot_email }} --server https://acme.sectigo.com/v2/InCommonRSAOV --eab-kid {{ acme_eab_kid_value }} --eab-hmac-key {{ acme_eab_hmac_key_value }}

