#!/bin/bash

# Ant environment variables
# {{ ansible_managed | comment}}

# Path to the common ant binaries and libraries
export ANT_HOME={{ ant_home }}

# Add $ANT_HOME/bin to the path
export PATH=$PATH:$ANT_HOME/bin
