{{ ansible_managed | comment }}

server {
    listen 80 {{ inventory_hostname }};
    listen [::]:80 {{ inventory_hostname }};
    root /var/www/html;
    index index.html;

    server_name {{ inventory_hostname }}; 

    location / {
        try_files $uri $uri/ =404;
    }
}
