
{{ ansible_managed | comment }}

types {
  include "/usr/share/misc/mime.types"
}

server "pulmirror.princeton.edu" {
    listen on egress port http
    location * {
      block return 302 "https://$HTTP_HOST$REQUEST_URI"
    }
}

server "pulmirror.princeton.edu" {
	listen on * tls port 443
	tls {
		certificate "/etc/ssl/pulmirror_princeton_edu_chained.pem"
		key "/etc/ssl/private/pulmirror_princeton_edu_priv.key"
	}
	root "/htdocs"
    location "/mirror/*" {
        directory auto index
    }
}
