#!/bin/sh
set -eu

lego \
  --accept-tos \
  --email "{{ pulmirror_email }}" \
  --http \
  --http.webroot "{{ pulmirror_webroot }}" \
  --path "{{ pulmirror_path }}" \
  --server "{{ pulmirror_acme_server }}" \
{% for domain in pulmirror_domains %}
  --domains "{{ domain }}" \
{% endfor %}
  renew \
  --days 30 \
  --renew-hook "service nginx reload"
