## { ansible_managed }
# this template includes all redirect rules
# and uses proxies_by_box.yml to create proxy rules for nginx

proxy_ssl_server_name on;

rewrite ^/papyrus(.*)$ https://dpul.princeton.edu/papyri redirect;
rewrite ^/locator/(.*)$ https://locator-prod.princeton.edu/$1 redirect;
rewrite ^/special-collections/mudd-dbs(.*)$ /mudd-dbs$1 redirect;
rewrite ^/research-data(.*)$ https://researchdata.princeton.edu redirect;
rewrite ^/hours(.*)$ https://libcal.princeton.edu/hours redirect;
rewrite ^/AssignedSpaceApplication(.*)$ https://lockers-and-study-spaces.princeton.edu/ redirect;
rewrite ^/AssignedSpaces https://lockers-and-study-spaces.princeton.edu/ redirect;

# these rewrite rules also have related proxy_pass rules
rewrite ^/special-collections/republic(.*)$ /republic/$1 redirect;
rewrite ^/special-collections/thankful-nation(.*)$ /thankful-nation/$1 redirect;
rewrite ^/special-collections/capping-liberty(.*)$ /capping-liberty/$1 redirect;
rewrite ^/special-collections/pathebaby(.*)$ /pathebaby/$1 redirect;
rewrite ^/special-collections/hogarth(.*)$ /hogarth/$1 redirect;
rewrite ^/special-collections/jameslyon(.*)$ /jameslyon/$1 redirect;
rewrite ^/special-collections/versailles(.*)$ /versailles/$1 redirect;

# this is our only remaining hard-coded proxy rule
# proxies_by_box.yml does not include this data
location /special-collections {
    proxy_pass https://lib-sc-prod.princeton.edu/special-collections/;
    proxy_connect_timeout      2h;
    proxy_send_timeout         2h;
    proxy_read_timeout         2h;
}

# sites that run on dss2

{% for item in dss2_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://dss2.princeton.edu/{{ item }}";
    }
{% endfor %}

# sites that run on lib-dbserver

{% for item in lib-dbserver_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://lib-dbserver.princeton.edu/{{ item }}";
    }
{% endfor %}

# sites that run on libphp-prod

{% for item in lib-phpprod_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://libphp-prod.princeton.edu/{{ item }}";
    }
{% endfor %}

# sites that run on libserv39

{% for item in libserv39_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://libserv39.princeton.edu/{{ item }}";
    }
{% endfor %}

# sites that run on lib-static-prod

{% for item in lib-static-prod_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://lib-static-prod.princeton.edu/{{ item }}";
    }
{% endfor %}

# sites that run on libwebprod

{% for item in libwebprod_proxies %}
    location /"{{ item }}" {
        proxy_pass "https://libwebprod.princeton.edu/{{ item }}";
    }
{% endfor %}

# other sites we need to proxy

{% for item in other_proxies %}
    location /"{{ item.src }}" {
        proxy_pass "https://{{ item.host }}.princeton.edu/{{ item.url }}";
    }
{% endfor %}

