# {{ ansible_managed | comment }}
# Load system-wide bash settings
[ -e /etc/bashrc ] && . /etc/bashrc

# Include ant and maven in path
export PATH=/opt/apache-ant/bin:/opt/apache-maven/bin:$PATH

# Include standard user-specific bin directories in path
export PATH=$PATH:$HOME/.local/bin:$HOME/bin:$HOME/scripts/bin

# Initialize Atmire DSpace harness
. ~/scripts/dspace-common/env-profile.sh
. ~/scripts/.aliases
. ~/.aliases.local
dswork $USER

# Default to connect psql to appropriate DSpace database
export PGHOST={{ postgres_host }}
export PGDATABASE={{ dspace_db_name }}
export PGUSER={{ dspace_db_user }}
export PGPORT=5432

# For Oracle to Postgres migration
export PATH=$HOME/ora2pg/src/main/bash:$PATH
export jdbc_jar=/home/dspace/postgresql-42.2.9.jar
export jdbc_url=jdbc:postgresql://$PGHOST:$PGPORT/$PGDATABASE
export jdbc_user=$PGUSER
export jdbc_pass=$(cat $HOME/.pgpass | awk -F: '{print $5}')

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion