# Default logrotate configuration for a Rails App in {{ ansible_managed }}

/opt/{{rails_app_directory}}/current/log/*.log {
  minsize 500M
  daily
  rotate 5
  copytruncate
  delaycompress
  compress
  notifempty
  missingok
  su root root
}
