<?php
  /**
   * @file yoursite.aliases.drushrc.php
   * Site aliases for [your site domain]
   * Place this file at ~/.drush/  (~/ means your home path)
   *
   * Usage:
   *   To copy the development database to your local site:
   *   $ drush sql-sync @yoursite.dev @yoursite.local
   *   To copy your local database to the development site:
   *   $ drush sql-sync @yoursite.local @yoursite.dev --structure-tables-key=common --no-ordered-dump --sanitize=0 --no-cache
   *   To copy the production database to your local site:
   *   $ drush sql-sync @yoursite.prod @yoursite.local
   *   To copy all files in development site to your local site:
   *   $ drush rsync @yoursite.dev:%files @yoursite.local:%files
   *   Clear the cache in production:
   *   $ drush @yoursite.prod clear-cache all
   *
   * You can copy the site alias configuration of an existing site into a file
   * with the following commands:
   *   $ cd /path/to/settings.php/of/the/site/
   *   $ drush site-alias @self --full --with-optional >> ~/.drush/mysite.aliases.drushrc.php
   * Then edit that file to wrap the code in <?php ?> tags.
   */

  /**
   * Production alias
   * Set each option to match your configuration
   */

  $aliases['prod'] = array(
    'uri' => '{{ drupal_ssl_base_path }}',
    'root' => '{{ apache_app_path }}',
    'path-aliases' => array(
        '%dump-dir' => '/tmp/drupal/',
        '%dump' => '/tmp/drupal/prod_sql_sync_dump.sql',
        '%sites' => '{{ apache_app_path }}/sites/',
    ),
    'command-specific' => array (
        'sql-sync' => array (
        'simulate' => '0',
        'structure-tables' => array(
            'custom' => array('cache', 'cache_filter', 'cache_menu', 'cache_page', 'history', 'watchdog'),
        ),
        ),
        'rsync' => array (
        'simulate' => '0',
        'mode' => 'rlptDz',
        ),
    ),
  );
?>
