---
apiVersion: v1
kind: Secret
metadata:
  name: {{ fleet_database_secret_name }}
  namespace: {{ fleet_namespace }}
type: Opaque
stringData:
  {{ fleet_database_password_key }}: {{ fleet_database_password | to_json }}
{% if fleet_cache_use_password | bool %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ fleet_cache_secret_name }}
  namespace: {{ fleet_namespace }}
type: Opaque
stringData:
  {{ fleet_cache_password_key }}: {{ fleet_cache_password | to_json }}
{% endif %}
{% if fleet_license_key | length > 0 %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ fleet_license_secret_name }}
  namespace: {{ fleet_namespace }}
type: Opaque
stringData:
  license-key: {{ fleet_license_key | to_json }}
{% endif %}
