# {{ansible_managed}}

[Unit]
Description=ZooKeeper

[Service]
Type=simple
User=root
Group=root
ExecStart={{ install_dir }}/zookeeper/bin/zkServer.sh start-foreground

TimeoutSec=300

[Install]
WantedBy=multi-user.target
