<VirtualHost  *:80>
    ServerName {{ lib_static_site.server_name }}.princeton.edu
    ServerAlias  {{ lib_static_site.server_name }}
    DocumentRoot {{ lib_static_site.doc_root }}

    {% for site in sites -%}
    <Directory "{{ site.doc_root }}">
      Options {{ site.options | default("-Indexes +FollowSymLinks") }}
      AllowOverride All
      Require all granted
    </Directory>
    {% endfor %}

    {% for site in sites -%}
    Alias /{{ site.alias }} {{ site.doc_root }}
    {% endfor %}
</VirtualHost>