{{ ansible_managed | comment }}
tickTime=2000
initLimit=10
syncLimit=5
dataDir={{ zk_data_dir }}
dataLogDir={{ zk_log_dir }}
clientPort={{ zk_client_port }}
maxClientCnxns=200

# List of servers
{% for node in zk_nodes %}
server.{{ node.id }}={{ node.host }}:{{ zk_leader_port }}:{{ zk_election_port }}
{% endfor %}

# Set higher timeout for leader election
electionAlg=3
maxSessionTimeout=60000
autopurge.snapRetainCount=3
autopurge.purgeInterval=1
4lw.commands.whitelist=ruok,mntr,srvr,conf,cons

