[Unit]
Description=Apache ZooKeeper
After=network.target

[Service]
Type=forking
User={{ zk_user }}
Group={{ zk_group }}
Environment=ZOO_LOG_DIR={{ zk_log_dir }}
Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
ExecStart=/usr/share/zookeeper/bin/zkServer.sh start /etc/zookeeper/conf/zoo.cfg
ExecStop=/usr/share/zookeeper/bin/zkServer.sh stop /etc/zookeeper/conf/zoo.cfg
Restart=on-failure

[Install]
WantedBy=multi-user.target

