[Unit]
Description=Apache ZooKeeper {{ zk_version }}
After=network.target
Wants=network-online.target

[Service]
Type=simple
User={{ zk_user }}
Group={{ zk_group }}
Environment=ZOO_LOG_DIR={{ zk_log_dir }}
Environment=ZOO_LOG4J_PROP=INFO,ROLLINGFILE
Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
Environment=JAVA_OPTS=-Dzookeeper.extendedTypesEnabled={{ 'true' if zk_extended_types else 'false' }}
ExecStart={{ zk_install_dir }}/bin/zkServer.sh start-foreground /etc/zookeeper/conf/zoo.cfg
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
