# {{ ansible_managed | comment }}
# Load system-wide bash settings
[ -e /etc/bashrc ] && . /etc/bashrc

# load app configs
for f in ~/app_configs/*; do source $f; done

# load alias config
if [ -f ~/.bash_aliases ]; then
. ~/.bash_aliases
fi

# Include ant and maven in path
export PATH=/opt/apache-ant/bin:/opt/apache-maven/bin:$PATH

# Include standard user-specific bin directories in path
export PATH=$PATH:$HOME/.local/bin:$HOME/bin:$HOME/scripts/bin

# Initialize Atmire DSpace harness
. ~/scripts/dspace-common/env-profile.sh
. ~/scripts/.aliases
. ~/.aliases.local
dswork $USER

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion