{{ ansible_managed | comment }}

server {
    listen       80;
    server_name  localhost;

    #access_log  /var/log/nginx/host.access.log  main;

    location / {
        add_header Access-Control-Allow-Origin '*';
        add_header Content-Security-Policy "default-src 'none' style-src 'self' 'unsafe-inline' *.princeton.edu; script-src 'self' 'unsafe-eval' *.princeton.edu; connect-src 'self' https://api.honeybadger.io https://docs.google.com *.googleusercontent.com https://browser-intake-datadoghq.com; font-src 'self'; base-uri 'none'; img-src 'self' *.princeton.edu data:;";

        root   /opt/static_tables/current/dist;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;

        # TODO
        # Url the user types in: https://library-staging.princeton.edu/marquand-catalogs
        # The load balancer converts this to: https://static-tables-staging.princeton.edu/marquand-catalogs
        # Url we give to them in this config: https://static-tables-staging.princeton.edu/index.html#/marquand-catalogs
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    # error_page   500 502 503 504  /50x.html;
    # location = /50x.html {
    #     root   /usr/share/nginx/html;
    # }
}

