#!/bin/bash

# Maven environment variables
# {{ ansible_managed | comment }}

export MAVEN_OPTS="$MAVEN_OPTS -Xmx1024m -XX:PermSize=256m -XX:MaxPermSize=256m -XX:+DisableExplicitGC"

# Path to the common Maven binaries and libraries
export MAVEN_HOME={{ maven_home }}
export M2_HOME=$MAVEN_HOME

# Add $MAVENHOME/bin to the path
export PATH=$PATH:$MAVEN_HOME/bin
