{{ ansible_managed | comment }}
[global]

domains = {{ himmelblau_domain }}
local_groups = users
home_attr = CN
home_alias = CN
use_etc_skel = true
enable_hello = false

[{{ himmelblau_domain }}]
tenant_id = {{ himmelblau_tenant_id }}
app_id = {{ himmelblau_domain_app_id }}
redirect_uri = himmelblau://Himmelblau.EntraId.BrokerPlugin
idmap_range = 5000000-5999999
