# {{ ansible_managed }}
{% set pw_skip = 3 + (1 if 'pwquality' in himmelblau_pam_available else 0) %}
password        [success={{ pw_skip }} default=ignore]  pam_himmelblau.so ignore_unknown_user
{% if 'pwquality' in himmelblau_pam_available %}
password        requisite       pam_pwquality.so retry=3
{% endif %}
password        [success=2 default=ignore]      pam_unix.so obscure use_authtok try_first_pass yescrypt
{% if 'sss' in himmelblau_pam_available %}
password        sufficient      pam_sss.so use_authtok
{% else %}
password        optional        pam_permit.so
{% endif %}
# fallback if no module above succeeded
password        requisite       pam_deny.so

password        required        pam_permit.so
{% if 'gnome_keyring' in himmelblau_pam_available %}
password        optional        pam_gnome_keyring.so
{% endif %}
