# {{ ansible_managed | comment }}
# password-auth — used by network services (e.g., sshd)
auth        substack        system-auth
account     substack        system-auth
password    substack        system-auth
session     substack        system-auth
session     include         postlogin
