# {{ ansible_managed | comment }}
# constrain SSH access

{% if allow_users | length > 0 -%}
AllowUsers {{ allow_users | join(' ') }}
{% endif -%}
{% if allow_groups | length > 0 -%}
AllowGroups {{ allow_groups | join(' ') }}
{% endif -%}

