#%PAM-1.0
# {{ ansible_managed }}
#
# XRDP session manager PAM stack. The common-* includes are what pull
# pam_himmelblau into remote desktop logins, so Entra ID accounts can sign in
# with the same credentials they use on the console.
auth       required     pam_env.so readenv=1
auth       required     pam_env.so readenv=1 envfile=/etc/default/locale
@include common-auth
@include common-account
session    required     pam_limits.so
@include common-session
@include common-password
