{{ ansible_managed | comment }}
#!/usr/bin/env bash

sam deploy --stack-name=puliiif-{{ runtime_env | default('staging')}} \
  --s3-prefix=puliiif-{{ runtime_env | default('staging')}} \
  --parameter-overrides='StageName="{{ runtime_env | default('staging')}}", SourceBucket="puliiif-{{ runtime_env | default('staging')}}", CacheDomainName="{{ iiif_domain }}.princeton.edu"' \
  --s3-bucket=aws-sam-cli-managed-default-samclisourcebucket-1j1ve93v4jqs9 \
  --region='us-east-1' \
  --capabilities='CAPABILITY_IAM' \
  --profile='iiifcloud'
