#!/usr/bin/env bash
{{ ansible_managed | comment }}
set -e

sam deploy \
  --stack-name=libimages-serverless-{{ runtime_env | default('staging') }} \
  --s3-prefix=libimages-serverless-{{ runtime_env | default('staging') }} \
  --s3-bucket=aws-sam-cli-managed-default-samclisourcebucket-1j1ve93v4jqs9 \
  --region='{{ aws_region }}' \
  --capabilities='CAPABILITY_IAM' \
  --no-confirm-changeset \
  --parameter-overrides \
    StageName="{{ runtime_env | default('staging') }}" \
    SourceBucket="{{ source_bucket }}" \
    CacheDomainName="{{ iiif_domain }}.princeton.edu"
