{
  "authentication": {
    "blockUnknown": {{ solr_block_unknown_users | default('false') }},
    "class": "solr.BasicAuthPlugin",
    "credentials": {
      "solr": "{{ solr_admin_password | default('SolrRocks') }}"
    }
  },
  "authorization": {
    "class": "solr.RuleBasedAuthorizationPlugin",
    "permissions": [
      {
        "name": "security-edit",
        "role": "admin"
      }
    ],
    "user-role": {
      "solr": "admin"
    }
  }
}
