
[Unit]
Description=Apache Solr
After=network.target remote-fs.target

[Service]
Type=forking
User={{ deploy_user | default(solr_user) }}
Group={{ deploy_user | default(solr_group) }}
EnvironmentFile=/etc/default/solr.in.sh
ExecStart=/opt/solr/solr-{{ solr_cloud_download_version }}/bin/solr start
ExecStop=/opt/solr/solr-{{ solr_cloud_download_version }}/bin/solr stop
Restart=on-failure
LimitNOFILE=65000
LimitNPROC=65000
PIDFile=/var/run/solr/solr-8983.pid

[Install]
WantedBy=multi-user.target
