{{ ansible_managed | comment }}
# Local customizations for Solr

# Memory settings
SOLR_JAVA_MEM="{{ solr_java_mem | default('-Xms2g -Xmx4g') }}"

# GC tuning
GC_TUNE="{{ solr_gc_tune  | default('-XX:+UseG1GC -XX:+PerfDisableSharedMem -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=250 -XX:+AlwaysPreTouch') }}"

# ZooKeeper connection string
ZK_HOST="{{ solr_zookeeper_hosts_string }}/{{ solr_znode }}"

# Directories
SOLR_PID_DIR="/var/run/solr"
SOLR_HOME="{{ solr_data_dir }}"
LOG4J_PROPS="{{ solr_installation }}/server/resources/log4j2.xml"
SOLR_LOGS_DIR="{{ solr_log_dir }}"
SOLR_PORT="8983"

# Enable CORS
SOLR_OPTS="$SOLR_OPTS -Dsolr.cors.enable=true"

# Enable the script engine
SOLR_OPTS="$SOLR_OPTS -Dscript.engine=nashorn -Dnashorn.args=--no-deprecation-warning"

# Additional security settings
SOLR_OPTS="$SOLR_OPTS -Dsolr.log.dir=${SOLR_LOGS_DIR} -Djetty.host=0.0.0.0"
SOLR_SSL_ENABLED=false
