{{ ansible_managed | comment }}
# Location where the bin/solr script will save PID files for running instances
# If not set, the script will create PID files in $SOLR_TIP/bin
SOLR_PID_DIR="/var/run/solr"
SOLR_HOME="{{ solr_home }}"
SOLR_DATA_HOME="{{ solr_data_dir }}"
SOLR_PORT="{{ solr_port }}"
SOLR_HOST="0.0.0.0"
SOLR_JETTY_HOST="0.0.0.0"
# By default the start script uses "localhost"; override the hostname here
SOLR_HOST="{{ inventory_hostname }}"
# Location where Solr should write logs to; should agree with the file appender
# settings in server/resources/log4j.properties
SOLR_LOGS_DIR="{{ solr_log_dir }}"

# Java configuration
{% if solr_version == '9.2.0' %}
JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
{% else %}
JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
{% endif %}

# ZooKeeper configuration
ZK_HOST="{{ zookeeper_hosts | join(',') }}"

# Enable verbose GC logging
GC_LOG_OPTS='{{ gc_log_settings }}'
# Solr provides a default Log4J configuration properties file in server/resources
# however, you may want to customize the log settings and file appender location
# so you can point the script to use a different log4j.properties file
LOG4J_PROPS='{{ solr_log4j }}'

# These GC settings have shown to work well for a number of common Solr workloads
GC_TUNE='{{ solr_gc_tune }}'

# Set the ZooKeeper client timeout (for SolrCloud mode)
ZK_CLIENT_TIMEOUT='60000'
# Set to true to activate the JMX RMI connector to allow remote JMX client applications
# to monitor the JVM hosting Solr; set to "false" to disable that behavior
# (false is recommended in production environments)
ENABLE_REMOTE_JMX_OPTS='{{ solr_jmx_enabled }}'

# The script will use SOLR_PORT+10000 for the RMI_PORT or you can set it here
RMI_PORT={{ solr_jmx_port }}

# Set the thread stack size
SOLR_OPTS="$SOLR_OPTS -Xss{{ solr_stack_size }}"

# Set idle timeout
SOLR_OPTS="$SOLR_OPTS -Dsolr.jetty.threads.idle.timeout=1800000"

# Set client stall time to prevent large update requests in Figgy from timing
# out.

SOLR_OPTS="$SOLR_OPTS -Dsolr.cloud.client.stallTime=1800000"

SOLR_OPTS="$SOLR_OPTS -Dlog4j2.formatMsgNoLookups=true"

