#!/usr/bin/env bash

{% if percona_xtra_root_password == "" %}
mysql -u root -h {{ db_host | default("localhost") }} -P {{ db_port | default("3306") }} < /home/{{ deploy_user }}/sql/permissive.sql
{% else %}
mysql -u root -p{{ percona_xtra_root_password  | default("change_me") }} -h {{ db_host | default("localhost") }} -P {{ db_port | default("3306") }} < /home/{{ deploy_user }}/sql/permissive.sql
{% endif %}