#!/bin/bash

# Ant environment variables
# {{ ansible_managed | comment}}

# Path to the common ant binaries and libraries
export PLAY_HOME=/opt/play

# Add $PLAY_HOME/bin to the path
export PATH=$PATH:$PLAY_HOME
