server {
    enabled = true
    bootstrap_expect = {{ nomad_server_ips | length }}
    # Use the same encryption key for Nomad - they're on the same servers.
    encrypt = "{{ consul_gossip_encryption_key }}"
}
