update search_api_server set options='a:20:{s:14:"clean_ids_form";a:0:{}s:9:"clean_ids";b:0;s:14:"site_hash_form";a:0:{}s:9:"site_hash";b:0;s:6:"scheme";s:4:"http";s:4:"host";s:{{ search_api_solr_host }};s:4:"port";s:4:"8983";s:4:"path";s:{{ search_api_solr_path }};s:9:"http_user";s:0:"";s:9:"http_pass";s:0:"";s:7:"excerpt";i:1;s:13:"retrieve_data";i:1;s:14:"highlight_data";i:0;s:17:"skip_schema_check";i:0;s:12:"solr_version";s:0:"";s:11:"http_method";s:4:"AUTO";s:9:"log_query";i:0;s:12:"log_response";i:0;s:17:"autocorrect_spell";i:1;s:25:"autocorrect_suggest_words";i:1;}' where id = 1;
update variable set value='{{ smtp_host }}";' where name = 'smtp_host';
update variable set value='{{ cas_cert }}";' where name = 'cas_cert';