# ====================================
# systemd startup file
# ====================================
#
# Note: this startup service will *NOT* log to unix_start.log
#
# -------------------------------
# Setup process
# -------------------------------
#
# - Change the path `/usr/bin/java` to be the path to `java`
#
# - Change the path `/opt/mediaflux/bin/aserver.jar` to be the path to `aserver.jar`
#
# - Change the path `/opt/mediaflux` to be the path to the mediaflux home
#
# - Copy this file to `/etc/systemd/system`
#
# - Reload the daemon descriptions with
#
#         $ systemctl daemon-reload
#
# - Start with
#
#         $ systemctl start mediaflux
#
# - Check status with
#
#         $ systemctl -l status mediaflux
#
# -------------------------------
# Running as non-root
# -------------------------------
#
# Add the following to the [Service] group including
# the name of the user to run the service as
#
#  User=mediaflux
#  Group=mediaflux
#
[Unit]
Description=Mediaflux
After=syslog.target network.target
[Service]
#
# Set the maximum number of file descriptors (this can be adjusted). If not
# set will default to a low value - say 4096.
#
LimitNOFILE=32768
ExecStart=/usr/bin/java -jar /opt/mediaflux/bin/aserver.jar application.home=/opt/mediaflux nogui
# Make sure sub-processes are also killed (this is the default, but made explicit here).
KillMode=control-group
UMask=077
# Allow up to 10000 threads. If the process cannot create another (native) thread, then this
# value may need to be increased further. If not set, then may default to a low value such as 500.
TasksMax=10000
[Install]
WantedBy=multi-user.target