# {{ ansible_managed | comment }}
<VirtualHost *:443>

  ServerAdmin lsupport@princeton.edu
  DocumentRoot {{ deploy_ojs_dest }}
  ServerName {{ deploy_ojs_url }}

  <Directory {{ deploy_ojs_dest }}>
    Options All
    Allowoverride All
    Order allow,deny
    allow from all

  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/{{ deploy_ojs_url }}.error.log 
  CustomLog ${APACHE_LOG_DIR}/{{ deploy_ojs_url }}.acess.log combined
  SSLCertificateFile /etc/apache2/ssl/certs/ojs-staging1_princeton_edu_cert.cer
  SSLCertificateKeyFile /etc/apache2/ssl/private/ojs-staging1_princeton_edu_priv.key
  SSLCertificateChainFile /etc/apache2/ssl/certs/ojs-staging1_princeton_edu_chained.pem

  <Location />
    AuthType shibboleth
    ShibRequestSetting requireSession 0
    require shibboleth
  </Location>

</VirtualHost>
