# Default Apache virtualhost template this config file in {{ ansible_managed }}

<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ apache.docroot }}
    ServerName {{ apache.servername }}

    <Directory {{ apache.docroot }}>
        AllowOverride All
        Options -Indexes +FollowSymLinks +Multiviews
        Require all granted
    </Directory>

    <Proxy "fcgi://localhost:9000/" enablereuse=on max=10>
    </Proxy>
    <FilesMatch "\.php$">
        <If "-f %{REQUEST_FILENAME}">
          SetHandler "proxy:unix:/run/php/php7.0-fpm.sock|fcgi://localhost:9000/"
        </If>
    </FilesMatch>
</VirtualHost>
