# Default Apache virtualhost template this config file in {{ ansible_managed }}

<VirtualHost *:{{ apache_listen_port }}>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ apache.docroot }}
    ServerName {{ apache.servername }}

    <Directory {{ apache.docroot }}>
        AllowOverride All
        Options -Indexes +FollowSymLinks {{apache.directory_options}}
        Require all granted
    </Directory>
</VirtualHost>
