{{ ansible_managed | comment }}
<VirtualHost  *:80>
    ServerName {{ server_name }}.lib.princeton.edu
    ServerAlias  {{ server_name }}
    DocumentRoot {{ apache_doc_root }}/current
    
    <Directory {{ apache_doc_root }}/current>
        Options -Indexes +FollowSymLinks 
        DirectoryIndex index.php index.html
        Require all granted
        RewriteEngine On
        RewriteRule EALJ/(.+v[0-9][0-9]\.n[0-9][0-9].+pdf) EALJ/ejPDF.php?aKey=$1 [NC]
    </Directory>
</VirtualHost>
