{{ ansible_managed | comment }}
<VirtualHost  *:80>
    ServerName {{ server_name }}.princeton.edu
    ServerAlias  {{ server_name }}
    DocumentRoot {{ apache_doc_root }}
    
    <Directory {{ apache_doc_root }}>
        AllowOverride All
        Options -Indexes +FollowSymLinks 
        Require all granted
    </Directory>
</VirtualHost>
