<?php
$hostname_mysql = "{{ mysql_host }}";
$database_mysql = "{{ mysql_databases.name }}";
$username_mysql = "{{ mysql_users.name }}";
$password_mysql = "{{ mysql_users.password }}";
$mysql_conn = mysql_connect($hostname_mysql, $username_mysql, $password_mysql) or trigger_error(mysql_error(),E_USER_ERROR);
mysql_query("SET NAMES 'utf8'", $mysql_conn);
?>
