<?php
$hostname_mysql = "{{ app_db_host }}";
$database_mysql = "{{ app_db_name }}";
$username_mysql = "{{ app_db_user }}";
$password_mysql = "{{ app_db_password }}";
$mysql_conn = mysql_connect($hostname_mysql, $username_mysql, $password_mysql) or trigger_error(mysql_error(),E_USER_ERROR);
mysql_query("SET NAMES 'utf8'", $mysql_conn);
?>
