prod:
  options:
    command-specific:
      sql-sync:
        sanitize: true
        no-ordered-dump: true
        structure-tables:
          common:
            - cache
            - cache_filter
            - cache_menu
            - cache_page
            - history
            - sessions
            - watchdog
    source-command-specific:
      sql-sync:
        no-cache: true
        structure-tables-key: common
  paths:
    dump-dir: '/tmp/drupal/'
    dump: '/tmp/drupal/prod_sql_sync_dump.sql'
    sites: '{{ apache_app_path }}/sites/'
  root: '{{ apache_app_path }}'
  uri: '{{ drupal_base_path }}'
