### This file is {{ ansible_managed }} If the role is run again the users will be deleted. Make changes at the role
### Its format is similar to that of svnserve.conf. As shown in the
### example below it contains one section labelled [users].

[users]
{% for k, v in svn_users.keys() %}
{{ k }} = {{ v }}
{% endfor %}
