<VirtualHost *:80>
     ServerName {{ inventory_hostname }}
<Location /svn>
     DAV svn
     SVNParentPath /srv/svn/repos

     AuthType Basic
     AuthName "PUL Subversion Repository"
     AuthUserFile /etc/apache2/pulibrary_svn.passwd
     Require valid-user
</Location>
</VirtualHost>
