
<VirtualHost  *:80>
    ServerName {{ item.server_name }}.princeton.edu
    ServerAlias  {{ item.server_name }}
    DocumentRoot {{ item.doc_root }}
    
    <Directory {{ item.doc_root }}>
        AllowOverride All
        Options -Indexes +FollowSymLinks 
        Require all granted
    </Directory>
</VirtualHost>