<VirtualHost  *:80>
    ServerName {{ sites[ firestone_renovations_index].server_name }}.princeton.edu
    ServerAlias  {{ sites[ firestone_renovations_index].server_name }}
    DocumentRoot {{ sites[ firestone_renovations_index].doc_root }}

    <Directory {{ sites[ firestone_renovations_index].doc_root }}>
        AllowOverride All
        Options -Indexes +FollowSymLinks
        Require all granted

    </Directory>

    Alias /republic  {{ sites[republic_index].doc_root }}
    <Directory "{{ sites[republic_index].doc_root }}">
      Options Indexes FollowSymLinks MultiViews
      AllowOverride All
      Require all granted
    </Directory>
</VirtualHost>