#!/usr/bin/env python3

import requests

def convert_state(state):
  if state['status']=='OK':
    return state['name']+'=0'
  else:
    return state['name']+'=1'

url = "http://{{ check_mk_health_url }}"
params = {
   "url": "https://example.com",
   "method": "GET",
   "headers": {"User-Agent": "NimbleBot/1.0"},
}
response = requests.get(url, params=params)
data = response.json()
overall_status = data['status']
res =  "|".join(map(convert_state, data['results']))

if overall_status == "ok":
   print("0 \"Ruby App Health Status\" "+res+" Ruby App is healthy" )
else:
   print("0 \"Ruby App Health Status\" "+res+" Check the Ruby App health page {{ check_mk_health_url }} for details" )
