# Default Apache virtualhost template this config file in {{ ansible_managed }}

<VirtualHost *:443>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ omp_home }}
    ServerName {{ apache.servername }}

    <Directory {{ omp_home }}>
        AllowOverride All
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ inventory_hostname }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ inventory_hostname }}.access.log combined
    SSLCertificateFile /etc/apache2/ssl/certs/{{ inventory_hostname }}_cert.cer
    SSLCertificateKeyFile /etc/apache2/ssl/private/{{ inventory_hostname }}_priv.key
    SSLCertificateChainFile /etc/apache2/ssl/certs/{{ inventory_hostname }}_chained.pem

</VirtualHost>
