[Unit]
Description=Apply managed gateway NAT iptables rules
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart={{ gateway_nat_rules_script_path }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
