{{ ansible_managed | comment }}

# create local automation auth domain for local machine / service accounts

if { [ xvalue "exists" [ authentication.domain.exists :domain "{{ mf_ansible_domain }}" ]] == "false" } {
    authentication.domain.create :domain "{{ mf_ansible_domain }}"
} 

# create (or recreate ) ansible user in automation domain 
if { [ xvalue "exists" [ authentication.user.exists :domain "{{ mf_ansible_domain }}" :user "{{ mf_ansible_user }}" ]] == "false" } {
    authentication.user.create :domain "{{ mf_ansible_domain }}" :user "{{ mf_ansible_user }}" :add-role "system-administrator" :password "{{ mf_ansible_pass }}"
} else {
    authentication.user.destroy :domain "{{ mf_ansible_domain }}" :user "{{ mf_ansible_user }}"
    authentication.user.create :domain "{{ mf_ansible_domain }}" :user "{{mf_ansible_user}}" :add-role "system-administrator" :password "{{ mf_ansible_pass }}"
}
