{{ ansible_managed | comment }}

{% for export in nfsserver_exports %}
{{ export.share }} {% for host in export.hosts %} {{ host.name }}({{ host.options | join(",") }}){% if not loop.last %}, {% endif %}{% endfor %}
{% endfor %}

