# {{ ansible_managed | comment }}
## GitLab configuration settings
##! https://gitlab.com/gitlab-org/omnibus-gitlab/blame/master/files/gitlab-config-template/gitlab.rb.template
##! /opt/gitlab/etc/gitlab.rb.template
##! You can run `gitlab-ctl diff-config` to compare the contents of the current gitlab.rb with
##! the gitlab.rb.template from the currently running version.
## GitLab URL
##! https://docs.gitlab.com/omnibus/settings/configuration.html#configuring-the-external-url-for-gitlab
##! https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html
external_url 'https://{{ gitlab_loadbalancer_domain_name }}'

################################################################################
## gitlab.yml configuration
##! Docs: https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/settings/gitlab.yml.md
################################################################################
gitlab_rails['gitlab_ssh_host'] = '{{ inventory_hostname }}'
gitlab_rails['smtp_enable'] = true
gitlab_rails['smtp_address'] = "lib-ponyexpr-prod.princeton.edu"
gitlab_rails['smtp_port'] = 25
gitlab_rails['smtp_tls'] = false
gitlab_rails['smtp_openssl_verify_mode'] = 'none'
gitlab_rails['smtp_enable_starttls_auto'] = false
gitlab_rails['smtp_ssl'] = false
gitlab_rails['smtp_force_ssl'] = false
gitlab_rails['gitlab_email_from'] = 'no-reply@princeton.edu'
gitlab_rails['gitlab_email_enabled'] = true
gitlab_rails['gitlab_default_theme'] = 2
gitlab_rails['trusted_proxies'] = [{{ gitlab_trusted_proxies }}]
gitlab_rails['lfs_enabled'] = true
 gitlab_rails['lfs_storage_path'] = "/var/opt/gitlab/gitlab-rails/shared/lfs-objects"
gitlab_rails['ldap_enabled'] = false
gitlab_rails['ldap_servers'] = {
  'main' => {
    'label' => 'pu_LDAP',
    'host' =>  'ldapproxy.princeton.edu',
    'port' => 636,
    'uid' => 'sAMAccountName',
    'bind_dn'=> '{{ gitlab_pu_ldap_bind_dn }}',
    'password' => '{{ gitlab_pu_ldap_password }}',
    'encryption'=> 'simple_tls',
    'verify_certificates' => true,
    'timeout' => 10,
    'active_directory' => true,
    'user_filter'=> '(&(objectCategory=Person)(sAMAccountName=*))',
    'base'=> 'dc=pu,dc=win,dc=princeton,dc=edu',
    'retry_empty_result_with_codes' => [80],
    'allow_username_or_email_login' => false,
    'block_auto_created_users' => false
  }
}
registry_external_url 'https://{{ inventory_hostname }}'
nginx['ssl_certificate'] = "/etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem"
nginx['ssl_certificate_key'] = "/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem"
nginx['ssl_protocols'] = "TLSv1.2 TLSv1.3"
nginx['ssl_session_cache'] = "shared:SSL:10m"
nginx['ssl_session_tickets'] = "off"
nginx['listen_port'] = 443
nginx['listen_https'] = true
nginx['real_ip_trusted_addresses'] = [{{ gitlab_loadbalancer_real_ip_trusted }}]
nginx['real_ip_header'] = 'X-Forwarded-For'
registry_nginx['enable'] = true
registry_nginx['listen_port'] = 5050
registry_nginx['ssl_certificate'] = "/etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem"
registry_nginx['ssl_certificate_key'] = "/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem"
gitlab_rails['backup_upload_connection'] = {
  'provider' => 'Google',
  'google_storage_access_key_id' => '{{ gitlab_google_key_id }}',
  'google_storage_secret_access_key' => '{{ gitlab_google_access_key }}',
}
gitlab_rails['backup_upload_remote_directory'] = '{{ gitlab_google_bucket }}'
gitlab_rails['backup_keep_time'] = 2419200

## OmniAuth common settings
{% set _external_url = 'https://' ~ gitlab_loadbalancer_domain_name %}
{% set _redirect_uri = _external_url ~ '/users/auth/openid_connect/callback' %}
gitlab_rails['omniauth_enabled'] = true
#
## Allow JIT provisioning ONLY from OpenID Connect (initially keep new users blocked)
gitlab_rails['omniauth_allow_single_sign_on'] = ['openid_connect']
gitlab_rails['omniauth_block_auto_created_users'] = true
#
## Try to auto-link Entra users to existing GitLab users by matching email
gitlab_rails['omniauth_auto_link_user'] = ['openid_connect']
#
## Since we still have LDAP, let GitLab auto-link LDAP identity to OmniAuth logins when uid matches
#gitlab_rails['omniauth_auto_link_ldap_user'] = true
#
# for bypass use
# https://gitlab-<env>.lib.princeton.edu/users/sign_in?auto_sign_in=false
gitlab_rails['omniauth_auto_sign_in_with_provider'] = 'openid_connect'
#
## Since Entra MFA/CA is authoritative, we can bypass GitLab’s 2FA for OIDC:
gitlab_rails['omniauth_allow_bypass_two_factor'] = ['openid_connect']
#
## Add the Entra ID (OIDC) provider
gitlab_rails['omniauth_providers'] = [
  {
    name: "openid_connect",
    label: "PU Entra ID",
    args: {
      name: "openid_connect",
      scope: ["openid","profile","email"],
      response_type: "code",
      discovery: true,
      # Issuer with tenant v2 endpoint:
      issuer: "https://login.microsoftonline.com/{{ gitlab_entra_issuer_id }}/v2.0",
      # Azure works fine with client creds in body (query)
      client_auth_method: "query",
      # Keep uid as the OIDC 'sub' (default).
      # uid_field: "sub",
      pkce: true,
      client_options: {
        identifier: "{{ gitlab_entra_identifier_id }}",
        secret: "{{ gitlab_entra_secret_id }}",
        redirect_uri: "{{ _redirect_uri }}"
      }
    }
  }
]
