# the logrotate file is {{ ansible_managed }}
/opt/marc_liberation/shared/log/production.log {
    daily
    missingok
    copytruncate
    rotate 14
    compress
    delaycompress
    notifempty
    create 664 deploy deploy
}
