[libdefaults]
    udp_preference_limit = 0
    default_realm = {{ ad_domain | upper }}
    dns_lookup_realm = true
    dns_lookup_kdc = true
    ticket_lifetime = 24h
    renew_lifetime = 7d
    forwardable = true

[realms]
    {{ ad_realm }} = {
        kdc = {{ ad_domain }}
        admin_server = {{ ad_domain }}
      }

[domain_realm]
    .{{ ad_domain }} = {{ ad_realm }}
    {{ ad_domain }} = {{ ad_realm }}
