[libdefaults]
    default_realm = {{ ad_domain | upper }}
    dns_lookup_realm = false
    dns_lookup_kdc = true

[realms]
    {{ ad_domain | upper }} = {
        kdc = {{ ad_domain }}
        admin_server = {{ ad_domain }}
    }

[domain_realm]
    .{{ ad_domain }} = {{ ad_domain | upper }}
    {{ ad_domain }} = {{ ad_domain | upper }}

