# {{ ansible_managed | comment }}
[active-directory]
default-client-use-tls = yes

[service]
automatic-id-mapping = no
client-software = sssd
fully-qualified-names = yes
automatic-install = no

[{{ ad_domain }}]
fully-qualified-names = yes
automatic-id-mapping = no
default-client-use-tls = yes

