[sssd]
domains = {{ ad_domain }}
config_file_version = 2
services = nss, pam

[domain/{{ ad_domain }}]
default_shell = /usr/bin/bash
krb5_store_password_if_offline = True
cache_credentials = True
krb5_realm = {{ ad_realm }}
realmd_tags = manages-system joined-with-adcli
id_provider = ad
fallback_homedir = /home/%u%d
ad_domain = {{ ad_domain }}
use_fully_qualified_names = False
ldap_id_mapping = True
ldap_network_timeout = 3
timeout = 10
enumerate = false
access_provider = ad
ldap_tls_cacert = /etc/ssl/certs/ca-certificates.crt
ldap_uri = {{ ad_ldap_uri }}

