[sssd]
services = nss, pam
config_file_version = 2
domains = {{ ad_domain }}

[sssd]
services = nss, pam
config_file_version = 2
domains = {{ ad_domain }}

[domain/{{ ad_domain }}]
ad_domain = {{ ad_domain }}
krb5_realm = {{ ad_realm }}
id_provider = ad
access_provider = ad
ldap_id_mapping = true
ldap_tls_cacert = /etc/ssl/certs/ca-certificates.crt
ldap_uri = {{ ad_ldap_uri }}
auth_provider = ad
chpass_provider = ad
ldap_network_timeout = 3
timeout = 10
enumerate = false
fallback_homedir = /home/%u
default_shell = /usr/bin/bash
krb5_store_password_if_offline = True
cache_credentials = True
use_fully_qualified_names = False

