# {{ ansible_managed | comment }}
agent:
  tasks:
    - name: "backup {{ plakar_snapshot_root }}"
      repository: "@{{ plakar_store_name }}"

      backup:
        path: "{{ plakar_snapshot_root }}"
        interval: "{{ plakar_scheduler_interval }}"
        check: true
