# {{ ansible_managed | comment }}
*filter
:ufw-after-input - [0:0]
:ufw-after-output - [0:0]
:ufw-after-forward - [0:0]

### RULES ###
# Add additional custom rules here if needed
{% for item in ufw_firewall_after_rules %}
-A ufw-after-input -p {{ item.protocol }} -s {{ item.source }} --dport {{ item.port }} -j {{ item.action }}
{% endfor %}
### END RULES ###

COMMIT

