# {{ ansible_managed | comment }}
*filter
:ufw-before-input - [0:0]
:ufw-before-output - [0:0]
:ufw-before-forward - [0:0]

### RULES ###
{% for item in ufw_firewall_rules %}
-A ufw-before-input -p {{ item.protocol }} -s {{ item.source }} --dport {{ item.port }} -j {{ item.action }}
{% endfor %}
### END RULES ###

COMMIT
