{{ ansible_managed | comment }}
[client]
user={{ mysql_backup_db_user }}
password={{ mysql_backup_db_password }}
{% if mysql_backup_host %}
host={{ mysql_backup_host }}
port={{ mysql_backup_port }}
{% else %}
socket={{ mysql_socket }}
{% endif %}
