# Managed by Ansible: entraid_join

[global]
domain = {{ entraid_join_domain }}
enable_hello = {{ entraid_join_enable_hello | string | lower }}
shell = {{ entraid_join_shell }}
home_prefix = {{ entraid_join_home_prefix }}
home_attr = {{ entraid_join_home_attr }}
home_alias = {{ entraid_join_home_alias }}
use_etc_skel = {{ entraid_join_use_etc_skel | string | lower }}
debug = {{ entraid_join_debug | string | lower }}
{% if entraid_join_pam_allow_groups | length > 0 %}
pam_allow_groups = {{ entraid_join_pam_allow_groups | join(',') }}
{% endif %}
