# Managed by Ansible: entraid_join
# Headless Himmelblau / Microsoft Entra ID SSH login.

UsePAM yes
PasswordAuthentication {{ 'yes' if entraid_join_password_authentication else 'no' }}
KbdInteractiveAuthentication {{ 'yes' if entraid_join_kbd_interactive_authentication else 'no' }}
